[2018-05-18 09:06] DoraKnst opened #1 "測試機 - 不同列的選單、按鈕黏再一起"
**〔問題說明〕**
◆ Expect：
上下列之間的按鈕、選單 之間有間隔，如下圖
![1-](https://user-images.githubusercontent.com/35495325/40226227-acc757dc-5abd-11e8-9aa9-d6f46230a60b.png)

◆ Actual:
上下列之間的按鈕、選單 之間沒有間隔，如下，如下圖
![image](https://user-images.githubusercontent.com/35495325/40226187-9286aa94-5abd-11e8-8824-83b140f4d0da.png)

**〔測試步驟〕**
登入物業雲後台
進入 變動申請管理

**〔功能/所在位置〕**
變動申請管理

**〔重要性〕**
★★★

**〔備註〕**
@monkey

**〔進案日期〕**
2018

[2018-05-18 09:12] DoraKnst opened #2 "測試機 - Side Menu 所有選項都用藍色框套色"
**〔問題說明〕**
◆ Expect：
只有所在位置的功能被選中套藍色
![1-](https://user-images.githubusercontent.com/35495325/40226484-5ac74900-5abe-11e8-8f1c-0af1ed30cb27.png)
![image](https://user-images.githubusercontent.com/35495325/40226530-7c3407ea-5abe-11e8-8f13-50dadd77d6fc.png)

◆ Actual:
所有選項都用藍色框套色
**〔測試步驟〕**
登入物業帳號
進入[公司帳戶管理]或[變動申請管理]

**〔功能/所在位置〕**
物業雲管理後台

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366
**〔進案日期〕**

[2018-05-18 09:17] DoraKnst opened #3 "測試機 - 變動申請管理 - 按鈕顏色、排序方式錯誤"
**〔問題說明〕**
◆ Expect：
1.查詢、清除條件、匯出 按鈕顏色請參考Wireframe配色文件的色號
2. 排序方式(由左到右)：查詢>清除條件>匯出excel
![1-](https://user-images.githubusercontent.com/35495325/40226708-fd7995ea-5abe-11e8-9495-ffd6f5e83939.png)

◆ Actual:
1.查詢、清除條件、匯出 按鈕顏色錯誤
2. 排序方式(由左到右)：查詢>匯出excel>清除條件
![image](https://user-images.githubusercontent.com/35495325/40226742-1a4398b0-5abf-11e8-99d6-881b554bf4c8.png)

**〔測試步驟〕**
登入物業帳號
進入[公司帳戶管理]或[變

[2018-05-18 09:30] DoraKnst opened #4 "測試機 - 新增公司帳戶 - 未跳轉至人員編制頁面"
**〔問題說明〕**
◆ Expect：
新增公司帳戶，會直接跳轉至該新建好的公司帳戶的[人員編制]頁面

◆ Actual:
新增公司帳戶，不會直接跳轉至該新建好的公司帳戶的[人員編制]頁面，而是跳到[基本資訊]頁面

**〔測試步驟〕**
登入物業雲管理後台
進入[公司帳戶管理]
點[新增公司帳戶]
輸入公司名稱、公司帳號
點[確認]
跳轉至[基本資訊]頁面

**〔功能/所在位置〕**
公司帳戶管理

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/5/18

[2018-05-18 09:35] DoraKnst opened #5 "測試機 - 公司帳戶管理 - [新增所有者] 彈窗顯示身分錯誤"
**〔問題說明〕**
◆ Expect：
[新增所有者]彈窗的 [身分]欄目質為"所有者"

◆ Actual:
[新增所有者]彈窗的 [身分]欄目質為"使用者"

**〔測試步驟〕**
登入物業雲管理後台
進入[公司帳戶管理]
點[天天保全]
進入[天天保全]基本資訊頁面
點[人員編制]
進入[人員編制]
點[新增所有者]

**〔功能/所在位置〕**
公司帳戶管理/人員編制

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/5/18

[2018-05-18 09:40] DoraKnst opened #6 "測試機 - 公司帳戶管理 - [新增人員]、[新增所有者] 密碼未加密"
**〔問題說明〕**
◆ Expect：
密碼加密，輸入密碼會顯示"●●●●●●●●"

◆ Actual:
密碼沒有加密，輸入密碼會顯示"12345678" (如下圖)
![image](https://user-images.githubusercontent.com/35495325/40227903-5d18a88a-5ac2-11e8-8150-8df022a0d4dc.png)

**〔測試步驟〕**
登入物業雲管理後台
進入[公司帳戶管理]
點[天天保全]
進入[天天保全]基本資訊頁面
點[人員編制]
進入[人員編制]
點[新增所有者]
輸入密碼

**〔功能/所在位置〕**
公司帳戶管理/人員編制/ [新增人員]、[新增所有者]

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/5/18

[2018-05-18 09:45] DoraKnst opened #7 "測試機 - 公司帳戶管理 - [新增人員] 失敗"
**〔問題說明〕**
◆ Expect：
可以成功[新增人員]

◆ Actual:
[新增人員]失敗，挑除彈窗顯示"error :[object Object]" (如下圖)
![image](https://user-images.githubusercontent.com/35495325/40228181-219c6c50-5ac3-11e8-8c8c-50bf7827a683.png)

**〔測試步驟〕**
登入物業雲管理後台
進入[公司帳戶管理]
點[天天保全]
進入[天天保全]基本資訊頁面
點[人員編制]
進入[人員編制]
點[新增成員]

**〔功能/所在位置〕**
公司帳戶管理/人員編制

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/5/18

[2018-05-18 10:10] DoraKnst opened #8 "測試機 - 公司帳戶管理 - 基本資訊 - 刪除據點彈窗、刪除聯絡資訊彈窗，點確認後未消失"
**〔問題說明〕**
◆ Expect：
欲刪除某公司帳戶的據點資料時，點[刪除據點成功]彈窗[確定]後自動消失

◆ Actual:
欲刪除某公司帳戶的[據點]、[聯絡資訊]資料時，點[刪除成功]彈窗的[確定]按鈕後沒有自動消失
疊在[刪除據點成功]彈窗 下面

**〔測試步驟〕**
1. 登入物業雲管理後台
2. 進入[公司帳戶管理]
3. 點[蘋果物業]
4. 進入[蘋果物業][基本資訊]頁面
5. 刪除任一筆據點資料
6. 跳出[刪除據點確認]彈窗
7. 點[確認]
8. 跳出[刪除據點成功]彈窗 ([刪除據點確認]卻疊在此彈窗後面)
9. [刪除據點成功]彈窗 點確認
10. [刪除據點成功]彈窗 消失 >> [刪除據點確認]卻疊在此彈窗仍在
11. [刪除據點成功]彈窗>>點[確定]>>沒有反應
12. [刪除據點成功]彈窗>>點[取消]>>消失

**〔功能/所在位置〕**

[2018-05-21 03:02] monkey6366 commented on #2
已修正完成20180521

[2018-05-21 03:15] DoraKnst opened #9 "測試機 - 公司帳戶管理 - 基本資訊 - 編輯聯絡資訊，點確認後[編輯聯絡人]彈窗未消失"
**〔問題說明〕**
◆ Expect：
在[編輯聯絡人]彈窗編輯完聯絡資訊後，點[確認]，該彈窗會消失，並跳除[新增聯絡資訊成功]彈窗

◆ Actual:
在[編輯聯絡人]彈窗編輯完聯絡資訊後，點[確認]，該彈窗會沒有消失，而是疊在跳出[新增聯絡資訊成功]彈窗的後面。
[新增聯絡資訊成功]點確認後，必須在[編輯聯絡人]再點一次[取消]，[編輯聯絡人]彈窗才會消失

**〔測試步驟〕**

1. 登入物業雲管理後台
2. 進入[公司帳戶管理]
3. 點[蘋果物業]
4. 進入[蘋果物業][基本資訊]頁面
5. 新增一筆聯絡資訊
6. 跳出[編輯聯絡人]彈窗
7. 點[確認]
8. 跳出[新增聯絡資訊-成功]彈窗 [編輯聯絡人]彈窗卻疊在此彈窗後面)
9. [新增聯絡資訊-成功]彈窗 點確認
10. [新增聯絡資訊-成功]彈窗消失 >>[編輯聯絡人]彈窗 仍在
11. [編輯聯絡人]彈窗

[2018-05-21 03:31] DoraKnst opened #10 "測試機 - 新增公司帳戶 - 人員編制:新建第一個人，多出[新增人員]按鈕"
**〔問題說明〕**
◆ Expect：
1.新增公司帳戶→跳轉至該公司帳戶管理的[人員編制]頁面→只顯示[新增所有者]按鈕，未顯示[新增人員]按鈕
2.新增[所有者]完成後→[新增所有者]按鈕消失，[新增人員]按鈕出現

◆ Actual:

**〔測試步驟〕**
1.新增公司帳戶→跳轉至[基本資訊]頁面→點[人員編制]→該公司帳戶管理的[人員編制]頁面：顯示[新增所有者]按鈕和[新增人員]按鈕
2.新增[所有者]完成後→[新增所有者]按鈕消失

**〔功能/所在位置〕**
公司帳戶管理/人員編制

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/5/21

[2018-05-21 03:51] DoraKnst opened #11 "測試機-公司帳戶管理-案場名單-新增案場:必填欄位未設定與顯示"*"表示為必填"
**〔問題說明〕**
◆ Expect：
新增日期、案場名稱、串接時間、合約上傳 皆為必填

◆ Actual:
新增日期、合約上傳 並非必填，沒有填資料也可成功送出該申請

**〔測試步驟〕**
登入物業雲管理後台
進入公司帳戶管理>蘋果物業>案場名單
新增案場
只輸入：案場名稱、串皆時間
點[確定]
成功送出

**〔功能/所在位置〕**
公司帳戶管理/案場名單

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366
變動申請管理/處理中 列表上該筆申請會自動帶入：該筆申請當天的日期作為[新增日期]

**〔進案日期〕**
2018/5/21

[2018-05-21 04:04] DoraKnst opened #12 "測試機 - 公司帳戶管理 - 案場名單-未顯示所有新增案場名單"
**〔問題說明〕**
◆ Expect：
完成X家智生活[新增案場]後，智生活案場名單會新增X筆案場資訊，且狀態顯示為[申請新增中]

◆ Actual:
完成X家智生活[新增案場]後，智生活案場名單會新增X筆案場資訊，且狀態顯示為[申請新增中]
另外5家案場並不會顯示在智生活案場名單上

**〔測試步驟〕**
登入物業雲管理後台
進入公司帳戶管理>蘋果物業>案場名單
依序新增案場：中友綠園邸、中華大樓、惠宇原山、東京市澀谷、竹城福和賞
智生活案場名單：只有顯示惠宇原山

**〔功能/所在位置〕**
公司帳戶管理/案場名單

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366
但該5筆新增案場申請都會顯示在變動申請的[處理中]列表裡

**〔進案日期〕**
2018/5/21

[2018-05-21 05:08] DoraKnst opened #13 "測試機 - 變動申請管理 - 社區所在地區、申請類型 多選單內無選項可選"
**〔問題說明〕**
◆ Expect：
[社區所在地區]多選單、[申請類型]多選單內有資料，可做為篩選選項
[社區所在地區]：顯示縣市(如下圖)
[申請類型]：顯示各種申請類型(如下圖)
![image](https://user-images.githubusercontent.com/35495325/40291467-c736497a-5cf7-11e8-8fe7-bd8ff480ed49.png)
![image](https://user-images.githubusercontent.com/35495325/40291480-d46ef1dc-5cf7-11e8-87c5-b2f98116d0c3.png)

◆ Actual:
[社區所在地區]、[申請類型]多選單內無選項可選

**〔測試步驟〕**
進入物業雲管理後台
進入變動申請管理
點[社區所在地區]、[申請類型]

[2018-05-21 05:12] DoraKnst opened #14 "測試機 - 變動申請管理 - [處理中]、[已結單]列表資料排序調整"
**〔問題說明〕**
◆ Expect：
每次顯示10筆為一頁，由新到舊

◆ Actual:
每次顯示10筆為一頁，由舊到新

**〔測試步驟〕**
進入物業雲管理後台
進入[變動申請管理]
檢視各筆資料排序方式

**〔功能/所在位置〕**
變動申請管理

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/5/21

[2018-05-21 05:15] DoraKnst opened #15 "測試機 - 點擊[變動申請管理]出現 Server Error"
**〔問題說明〕**
◆ Expect：
點擊Sidebar的[變動申請管理]功能會連結到[變動申請管理]該功能頁面

◆ Actual:
點擊Sidebar的[變動申請管理]功能會連結到Server Error頁面(如下圖)
![image](https://user-images.githubusercontent.com/35495325/40291690-035a37da-5cf9-11e8-862f-92f194313265.png)

**〔測試步驟〕**
進入物業雲管理後台
點變動申請管理

**〔功能/所在位置〕**
物業雲管理後台

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/5/21

[2018-05-21 05:40] DoraKnst opened #16 "測試機 - 公司帳戶管理 - 點擊[清除條件]無反應"
**〔問題說明〕**
◆ Expect：
點擊[清除條件]按鈕，會清除所有篩選條件內的內容變為空值

◆ Actual:
點擊[清除條件]按鈕，無任何反應，並未清除個篩選條件已選擇的選項

**〔測試步驟〕**
登入物業雲管理後台
進入公司帳戶管理
點[公司]多選單→點選單中的全選按鈕
點查詢
顯示查詢結果
點[清除條件]>>無反應

**〔功能/所在位置〕**
公司帳戶管理

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/5/21

[2018-05-21 06:40] DoraKnst opened #17 "測試機 - 公司帳戶管理 - [公司]多選單 勾選項目在查詢後會持續累加"
**〔問題說明〕**
◆ Expect：
[公司]多選單
若[地區]選單為全選＞＞［公司］選單會固定顯示所有公司→點[查詢]不會導致公司選單內公司數重複累加
若［地區］有選擇特定地區>>[公司]選單只會顯示該地區有據點的公司在選單內→點[查詢]不會導致公司選單內公司數重複累加

◆ Actual:
[公司]多選單
若[地區]選單為全選＞＞［公司］選單會固定顯示所有公司→點[查詢]導致公司選單內公司數重複累加
若［地區］有選擇特定地區>>[公司]選單只會顯示該地區有據點的公司在選單內→點[查詢]會導致公司選單內公司數重複累加
!!![公司]多選單內勾選的公司在點[查詢後]會累加在[公司]多選單內 (如下圖)
![mkl5vzx-imgur](https://user-images.githubusercontent.com/35495325/40293665-8afc96b4-5d04-11

[2018-05-21 08:18] DoraKnst opened #18 "測試機 - 公司帳戶管理、變動申請管理 - 編號規則調整"
**〔問題說明〕**
◆ Expect：
編號：顯示該區塊幾筆資料
Ex.
有5筆資料{A、B、C、D、E} >> 編號由上到下為：1,2,3,4,5
刪掉資料A、B後>>顯示C、D、E，編號由上到下為1,2,3
◆ Actual:
編號：最為該筆記錄的ID
有5筆資料{A、B、C、D、E} >> 編號由上到下為：1,2,3,4,5
刪掉資料A、B後>>顯示C、D、E，編號由上到下為3,4,5

**〔測試步驟〕**
【公司帳戶管理】
進入公司帳戶管理
進入 Kingnet公司的：案場資訊{據點、聯絡資訊}、案場名單{智生活案場、其他案場}、人員編制
檢視編號
舉例：案場資訊{據點、聯絡資訊} 如下圖
![image](https://user-images.githubusercontent.com/35495325/40297424-6e7645d6-5d12-11e8-9353-7d

[2018-05-21 08:23] DoraKnst opened #19 "測試機 - 變動申請管理 - [社區]選單 勾選任意社區 造成該網頁當掉"
**〔問題說明〕**
◆ Expect：
點[社區]選單以勾選多個社區

◆ Actual:
點[社區]選單>>該網頁當掉，點擊該網頁任何地方都無反應，必須重新整理該網頁，重新操作

**〔測試步驟〕**
進入變動申請管理
點[社區]選單
勾選任一社區
網頁當掉

**〔功能/所在位置〕**
變動申請管理

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/5/21

[2018-05-21 08:30] DoraKnst opened #20 "測試機 - 公司帳戶管理 -變動申請：勾選項目以外的選下勾選框未灰階掉"
**〔問題說明〕**
◆ Expect：
變動申請-智生活：
勾選[申請延長串接]時[申請解除串接]的勾選框會被灰階且無法勾選

◆ Actual:
變動申請-智生活：
勾選[申請延長串接]時[申請解除串接]的勾選框無法勾選>>但未灰階

**〔測試步驟〕**
進入公司帳戶管理
進入Kingnet公司>>進入[案場名單]
點社區"松仁富邑]該筆資訊的[變動申請]按鈕
勾選[申請延長串接]
[申請解除串接]的勾選框未灰階

**〔功能/所在位置〕**
公司帳戶管理/案場名單

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/5/21

[2018-05-21 08:39] DoraKnst opened #21 "測試機-公司帳戶管理-案場名單-變動申請:必填欄位未設定為必填"
〔問題說明〕
◆ Expect：
申請日期、案場名稱、選擇申請項目、選擇串接時間、合約上傳 皆為必填

◆ Actual:
申請日期、合約上傳 並非必填，沒有填資料也可成功送出該申請

〔測試步驟〕
登入物業雲管理後台
進入公司帳戶管理>Kingnet公司>案場名單
點"泰盛大樓"的變動申請
只輸入：[申請延長串接]、延長日期
點[確定]
成功送出

〔功能/所在位置〕
公司帳戶管理/案場名單

〔重要性〕
★★★

〔備註〕
@monkey6366
變動申請管理/處理中 列表上該筆申請會自動帶入：該筆申請當天的日期作為[申請日期]

〔進案日期〕
2018/5/21

[2018-05-21 08:43] DoraKnst opened #22 "測試機 - 公司帳戶管理 - 變動申請、新增案場>申請日期：沒顯示當日日期"
**〔問題說明〕**
◆ Expect：
新增案場>>新增日期：自動帶入當天日期顯示
變動申請>>申請日期：自動帶入當天日期顯示

◆ Actual:
新增案場>>新增日期：沒有自動帶入當天日期顯示
變動申請>>申請日期：沒有自動帶入當天日期顯示

**〔測試步驟〕**
1. 進入公司帳戶管理
2. 點[新增案場] 或 [變動申請]
3. 檢視彈窗內的:
    4. 新增案場>>新增日期 >>沒顯示當日日期
    5. 變動申請>>申請日期>>沒顯示當日日期

**〔功能/所在位置〕**
公司帳戶管理

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/5/21

[2018-05-21 09:07] DoraKnst opened #23 "測試機 - 變動申請 - 進入[處理中]、[已結單] 的資料預設規則調整&篩選欄位顯示內容修正"
**〔問題說明〕**
◆ Expect：
進入該頁面的預設狀態為：
1.  篩選欄位：[社區所在地區]、[社區]、[申請類型] 選單為全選
2.  篩選欄位：[日期篩選]：當日日期
3.  篩選欄位：[物業公司]、[申請編號] 為空值
4. 資料顯示：該篩選結果的前10筆
5. 資料顯示：由新到舊排序

◆ Actual:
進入該頁面的預設狀態為：
1. 篩選欄未{社區所在地區、社區、物業公司、申請類型、日期篩選、申請編號} 皆為空值
2. 資料顯示：由舊到新排序
※不合哩，若篩選欄位皆為空值：就不應該撈的到資料，篩選欄位應該顯示：所撈取的資料是根據什麼篩選規則

**〔測試步驟〕**
進入變動申請管理
進入[處理中]、[已結單]
檢視該列表 篩選欄位、資料顯示

**〔功能/所在位置〕**
變動申請管理/處理中、已結單

**〔重要性〕**
★★★

**〔備註〕**
@monkey63

[2018-05-21 09:34] DoraKnst opened #24 "測試機 - 公司帳戶管理 - 資料預設規則調整&篩選欄位顯示內容修正"
〔問題說明〕
◆ Expect：
進入該頁面的預設狀態為：
篩選欄位：[地區]、[公司] 選單為全選
資料顯示：該篩選結果的前10筆
◆ Actual:
進入該頁面的預設狀態為：

篩選欄未{地區、物業公司} 皆為空值
資料顯示：排序方式無法辨認
※不合哩，若篩選欄位皆為空值：就不應該撈的到資料，篩選欄位應該顯示：所撈取的資料是根據什麼篩選規則

〔測試步驟〕
進入公司帳戶管理
檢視該列表 篩選欄位、資料顯示

〔功能/所在位置〕
公司帳戶管理

〔重要性〕
★★★

〔備註〕
@monkey6366

〔進案日期〕
2018/5/21

[2018-05-21 09:50] DoraKnst opened #25 "測試機 - 公司帳戶管理 - 案場名單 按鈕顏色變更"
**〔問題說明〕**
按鈕顏色調整：請調整如下圖所示
![1- 3](https://user-images.githubusercontent.com/35495325/40301603-2a33184c-5d1f-11e8-87f0-d0c12206a722.png)

**〔測試步驟〕**
進入公司帳戶管理>Kingnet公司
檢視[智生活案場名單]

**〔功能/所在位置〕**
公司帳戶管理

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/5/21

[2018-05-21 09:55] DoraKnst opened #26 "測試機 - 變動申請管理 - 小婉瑜 [主管]權限已開，但並未顯示[同意][拒絕]功能供使用"
**〔問題說明〕**
◆ Expect：
點擊任一筆[處理中]的變動申請單：
於該筆申請單中>顯示[同意]、[拒絕]按鈕
且可以[同意]、[拒絕]變動申請單

◆ Actual:
點擊任一筆[處理中]的變動申請單：
於該筆申請單中>沒有顯示[同意]、[拒絕]按鈕
且無法[同意]、[拒絕]變動申請單

**〔測試步驟〕**
進入變動申請管理>處理中
點任一變動申請單
檢視該變動申請單的內容
未顯示[同意]、[拒絕]供使用

**〔功能/所在位置〕**
變動申請管理

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/5/21

[2018-05-22 01:14] DoraKnst opened #27 "測試機 - 頁面配色調整"
**〔問題說明〕**
◆ Expect：
介面顏色設置依照"物業雲 V2.0[後台] Wireframe.pdf" P.6 所述設定，或參考下述附件(物業雲後台配色pdf)
[物業雲後台配色.pdf](https://github.com/WanYuKnst/estatemanageplatform/files/2024546/default.pdf)

◆ Actual:
變動申請的：新增案場、延長申請、解除申請 標示鈕為黑色

**〔測試步驟〕**
進入變動申請
進入各申請單的內容頁
檢視各類型申請單的類型標示鈕(參考如下圖)
![image](https://user-images.githubusercontent.com/35495325/40337154-72499256-5da0-11e8-9663-3881c048c072.png)

**〔功能/所在位置〕**
變動申請管

[2018-05-25 02:20] DoraKnst opened #28 "測試機 - 顯示多餘字樣"
**〔問題說明〕**
◆ Expect：
無多餘字樣(如下圖)

◆ Actual:
紅色圈起來的部分
![image](https://user-images.githubusercontent.com/35495325/40522725-c5940660-6004-11e8-997b-6c3f100535dc.png)
![image](https://user-images.githubusercontent.com/35495325/40522753-e934e670-6004-11e8-9298-c4f9c3ebf28f.png)

**〔測試步驟〕**
進公司帳戶管理：檢視公司帳戶管理列表
進入變動申請管理：檢視任一申請表單詳細內容

**〔功能/所在位置〕**
公司帳戶管理
變動申請管理

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日

[2018-05-25 02:27] DoraKnst opened #29 "測試機-公司帳戶管理-人員編制[身分別]顯示格式錯誤"
**〔問題說明〕**
◆ Expect：
身分別顯示文字：所有者、管理者、人事差勤

◆ Actual:
身分別顯示數字：1、2、3 (如下圖)
![image](https://user-images.githubusercontent.com/35495325/40522989-21cf9d26-6006-11e8-8b44-e7f1b3455d1b.png)

**〔測試步驟〕**
進入公司帳戶管理
進入Kingnet公司
進入Kingnet公司的人員編制

**〔功能/所在位置〕**
公司帳戶管理/人員編制

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/5/25

[2018-05-25 10:21] DoraKnst opened #30 "公司帳戶管理-案場名單-移除[縣市]、[鄉鎮]欄位，新增[地址]欄位"
調整內容：
1.智生活案場
[縣市]、[鄉鎮]欄位移除
新增[地址]欄位

2.其他案場
[縣市]、[鄉鎮]欄位移除
新增[地址]欄位
**〔功能/所在位置〕**
公司帳戶管理-案場名單

更改後：(如下圖)
![1- _](https://user-images.githubusercontent.com/35495325/40539638-eebcbe5e-6047-11e8-87e8-86c2832dbd01.png)

更改前：(如下圖)
![00- _](https://user-images.githubusercontent.com/35495325/40539707-37286756-6048-11e8-9299-fc4b57b93ff1.png)

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366
新版Wireframe 會jandi @monkey

[2018-05-29 10:26] monkey6366 commented on #26
已修改完成

[2018-05-29 10:29] monkey6366 commented on #25
修改完成

[2018-05-29 10:30] monkey6366 commented on #22
修改完成

[2018-05-29 10:31] monkey6366 commented on #24
已修改完成

[2018-05-29 10:33] monkey6366 commented on #21
修改完成

[2018-05-30 05:15] monkey6366 commented on #14
這部分需要API這邊修正

[2018-05-30 05:23] KnstMing commented on #14
@monkey6366  API排序已經改成由新到舊，請驗測

[2018-05-30 05:53] KnstMing commented on #30
05/30 13:50已上測試機
調整API-/EstateManagement/Community/CommunityList 取得案場名單清單
其他案場名單，OutPut Params 增加地址欄位(Address)
前端部份，請 @monkey6366 接手處理

[2018-05-31 01:03] DoraKnst commented on #29
Checked, Done

[2018-05-31 01:03] #29 closed, assigned to DoraKnst

[2018-05-31 01:05] DoraKnst commented on #28
Checked,done

[2018-05-31 01:05] #28 closed, assigned to DoraKnst

[2018-05-31 01:07] DoraKnst commented on #27
@monkey6366  並未調整，請調整

[2018-05-31 01:08] DoraKnst commented on #24
Checked,pass
地區沒有全選

[2018-05-31 01:08] #24 closed, assigned to DoraKnst

[2018-05-31 01:15] DoraKnst commented on #23
checked, pass
申請類型未全選

[2018-05-31 01:15] #23 closed, assigned to DoraKnst

[2018-05-31 01:18] DoraKnst commented on #22
@monkey6366
新增案場>>新增日期：沒有自動帶入當天日期顯示
變動申請>>申請日期：沒有自動帶入當天日期顯示

[2018-05-31 01:18] DoraKnst commented on #21
@monkey6366
申請日期、合約上傳 並非必填，沒有填資料也可成功送出該申請

[2018-05-31 01:20] DoraKnst commented on #18
Checked,done

[2018-05-31 01:20] #18 closed, assigned to DoraKnst

[2018-05-31 01:22] DoraKnst commented on #17
Checked,done

[2018-05-31 01:22] #17 closed, assigned to DoraKnst

[2018-05-31 01:23] DoraKnst commented on #16
@monkey6366  點擊[清除條件]按鈕，無任何反應，並未清除個篩選條件已選擇的選項

[2018-05-31 01:23] DoraKnst commented on #15
checked,done

[2018-05-31 01:23] #15 closed, assigned to DoraKnst

[2018-05-31 01:28] DoraKnst commented on #4
checked,done

[2018-05-31 01:28] #4 closed, assigned to DoraKnst

[2018-05-31 01:30] DoraKnst commented on #10
checked,done

[2018-05-31 01:30] #10 closed, assigned to DoraKnst

[2018-05-31 01:32] DoraKnst commented on #9
checked,done

[2018-05-31 01:32] #9 closed, assigned to DoraKnst

[2018-05-31 01:35] DoraKnst commented on #8
@monkey6366  未修復

[2018-05-31 01:39] DoraKnst commented on #7
@monkey6366
其他公司帳戶新建人員>>成功
天天保全、壓測公司新建人員>>失敗 (出現如下圖提示)
![image](https://user-images.githubusercontent.com/35495325/40756501-888b0adc-64b6-11e8-9ea7-1cfb8e618144.png)

(公司建立時未建立所有者的公司帳戶，後來才建立所有者的公司，新增人員都會失敗)

[2018-05-31 01:42] DoraKnst commented on #6
checked,done

[2018-05-31 01:42] #6 closed, assigned to DoraKnst

[2018-05-31 01:43] DoraKnst commented on #2
checked,done

[2018-05-31 01:43] #2 closed, assigned to DoraKnst

[2018-05-31 01:44] DoraKnst commented on #1
checked,done

[2018-05-31 01:44] #1 closed, assigned to DoraKnst

[2018-05-31 01:46] DoraKnst commented on #3
@monkey6366  查詢案鈕顏色錯誤
應為 #46B49A

[2018-05-31 01:48] DoraKnst commented on #5
checked,pass

[2018-05-31 01:48] #5 closed, assigned to DoraKnst

[2018-05-31 01:54] DoraKnst commented on #25
checked,done

[2018-05-31 01:54] #25 closed, assigned to nobody

[2018-05-31 01:55] DoraKnst commented on #26
@monkey6366  未修復
![image](https://user-images.githubusercontent.com/35495325/40756977-c34791fc-64b8-11e8-8108-94fe2b9566e5.png)

[2018-05-31 01:59] DoraKnst commented on #14
Checked,done

[2018-05-31 01:59] #14 closed, assigned to monkey6366

[2018-05-31 02:02] DoraKnst commented on #13
checked,done
但仍無法操作使用
#19

[2018-05-31 02:02] #13 closed, assigned to DoraKnst

[2018-06-06 01:25] monkey6366 commented on #26
與明展對過，目前偏向是API的問題，已請明展協助處理

[2018-06-06 06:16] monkey6366 commented on #20
元件因素，需花時間確認

[2018-06-07 02:20] monkey6366 commented on #12
請明展確認API是否正確

[2018-06-07 05:18] KnstMing commented on #12
API: /EstateManagement/Community/CommunityList 取得案場名單清單
已fix，請確認

[2018-06-07 05:20] KnstMing commented on #26
API 已fix，請確認

[2018-06-08 00:55] monkey6366 commented on #30
修改完成

[2018-06-08 01:01] monkey6366 commented on #12
確認OK

[2018-06-08 01:03] monkey6366 commented on #7
對接oauths問題已排除

[2018-06-08 01:32] DoraKnst commented on #30
@monkey6366  地址欄目有新增，縣市、鄉鎮欄目已刪除，但欄目標題未變更
Expect：編號、案場名稱、地址、狀態、功能
Actual：便號、案場名稱、縣市、鄉鎮市區、狀態功能 (如下圖)
![image](https://user-images.githubusercontent.com/35495325/41134405-cc351f86-6afe-11e8-8c3f-871bd18247e1.png)

[2018-06-08 01:34] DoraKnst commented on #27
checked,fixed

[2018-06-08 01:34] #27 closed, assigned to DoraKnst

[2018-06-08 01:41] DoraKnst opened #31 "測試機 - 變動申請管理 - [申請失敗]標記和下方文字相黏"
**〔問題說明〕**
◆ Expect：
[申請失敗]標記和下方文字相隔一段間距(如下圖)
![image](https://user-images.githubusercontent.com/35495325/41134627-e921e646-6aff-11e8-82c3-ca513b95f737.png)

◆ Actual:
[申請失敗]標記和下方文字相黏(如下圖)
![image](https://user-images.githubusercontent.com/35495325/41134596-becb25ba-6aff-11e8-94bf-4855e8c07e89.png)

**〔測試步驟〕**
進入變動申請管理
點擊任一則[處理中]的變動申請單
檢視右上方 [申請失敗]標記和下方文字
 [申請失敗]標記和下方文字相黏

**〔功能/所在位置〕**
變動申請管理

**

[2018-06-08 01:43] DoraKnst commented on #26
checked,fixed
確認是否確實新增、延長、解除串接需待V2.0前台上線後連動 方可驗證

[2018-06-08 01:43] #26 closed, assigned to DoraKnst

[2018-06-08 01:45] DoraKnst commented on #22
checked,fixed

[2018-06-08 01:45] #22 closed, assigned to DoraKnst

[2018-06-08 01:46] DoraKnst commented on #21
checked,fixed

[2018-06-08 01:46] #21 closed, assigned to DoraKnst

[2018-06-08 01:48] DoraKnst commented on #20
暫時Wonfix
功能性：勾選一個，另一個無法勾選-->有

[2018-06-08 01:48] #20 closed, assigned to DoraKnst

[2018-06-08 01:54] DoraKnst commented on #16
@monkey6366
進入公司帳戶管理：社區預設為全選
 點選[清除條件]
社區：打卡選單已全部取消勾選，但欄目仍顯示全選

[2018-06-08 03:07] DoraKnst commented on #12
@monkey6366  未修復

[2018-06-08 03:08] DoraKnst commented on #11
checked, fixed

[2018-06-08 03:08] #11 closed, assigned to DoraKnst

[2018-06-08 03:10] DoraKnst commented on #8
checked,fixed

[2018-06-08 03:10] #8 closed, assigned to DoraKnst

[2018-06-08 03:17] DoraKnst commented on #3
checked, fixed

[2018-06-08 03:17] #3 closed, assigned to DoraKnst

[2018-06-08 03:25] DoraKnst opened #32 "公司帳戶管理 - 新增案場 - 帶入前一筆新增的資料"
**〔問題說明〕**
◆ Expect：
[新增案場] 新增一案場後再點[新增案場] 新增第二個案場
[新增案場-智生活] 所有欄位皆為預設值

◆ Actual:
[新增案場] 新增一案場後再點[新增案場] 新增第二個案場
[新增案場-智生活] ：案場名稱、合約上傳-->帶入了前一筆的資料

**〔測試步驟〕**
進入公司帳戶管理
點Kingnet公司
新增案場"達麗首席"
新增成公
再新增一間案場
點[新增案場]按鈕
跳出[新增案場-智生活]彈窗
檢視[案場名稱]、[合約上傳]欄位-->帶入了新增案場"達麗首席"的資料

**〔功能/所在位置〕**
公司帳戶管理 - 新增案場

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/06/08

[2018-06-08 03:35] DoraKnst opened #33 "測試機 - 公司帳戶管理 - 新增案場 案場名稱選擇 不能以關鍵字輸入搜尋"
**〔問題說明〕**
◆ Expect：
- 新增案場 案場名稱選擇 可以以關鍵字輸入搜尋 (如下圖，截圖Wireframe)
![image](https://user-images.githubusercontent.com/35495325/41137706-3b14789c-6b0f-11e8-9884-31c23650e041.png)

◆ Actual:
- 新增案場 案場名稱選擇 不能以關鍵字輸入搜尋 (如下圖)
![image](https://user-images.githubusercontent.com/35495325/41137715-4a4c4a7e-6b0f-11e8-8c82-f636e6e85bcd.png)

**〔測試步驟〕**
新增一間案場
點[新增案場]按鈕
跳出[新增案場-智生活]彈窗
點擊[案場名稱]選單
無法輸入關鍵字搜尋案場

**〔功

[2018-06-08 03:40] DoraKnst commented on #19
未修復
測試 acer k50、asus GL553V 兩台筆電 -->  都當掉

[2018-06-08 06:18] DoraKnst opened #34 "測試機 - 公司帳戶管理/案場名單 - 同意[解除串接]，解除日未到，案場已於名單中移除"
**〔問題說明〕**
前置條件：
社區A串接日期(6/8-6/10)
申請[解除串接] 於6/9 解除
主管[同意]該筆申請

◆ Expect：
若解除日未到(6/9之前)Ex.6/8：社區A 仍在案場名單裡
若解除日當單、之後(6/9、6/9之後)：社區A 仍在解除記錄裡，於案場名單中移除

◆ Actual:
若解除日未到(6/9之前)Ex.6/8：社區A 已於案場名單中移除

**〔測試步驟〕**
進入公司帳戶管理/天天保全/案場名單
替社區"麗緻昱瑭"申請解除串接於6/9

進入變動申請管理/[麗緻昱瑭"申請解除串接]申請單
點擊[同意]

回到公司帳戶管理/天天保全/案場名單 --->麗緻昱瑭 已從案場名單中移除

**〔功能/所在位置〕**
 公司帳戶管理/案場名單

**〔重要性〕**
★★★

**〔備註〕**
@KnstMing

**〔進案日期〕**
2018/06/

[2018-06-08 06:22] DoraKnst opened #35 "測試機 - 公司帳戶管理/案場名單 - 同意[延長串接]，案場卻從案場名單中移除"
〔問題說明〕
前置條件：
社區A串接日期(6/8-6/22)
申請[延長串接] 延長至6/30

◆ Expect：
案場名單中：社區A { 狀態[已串接] ；串接資訊：延長串接、申請成功}

◆ Actual:
社區A從案場名單中移除

〔測試步驟〕
進入公司帳戶管理/天天保全/案場名單
替社區"大東興"申請延長至6/30

進入變動申請管理/
至6/30
解除入變動申請管理/[大東興"申請延長串接]申請單
點擊[同意]

回到公司帳戶管理/天天保全/案場名單 --->大東興 已從案場名單中移除

〔功能/所在位置〕
公司帳戶管理/案場名單

〔重要性〕
★★★

〔備註〕
@KnstMing

〔進案日期〕
2018/06/08

[2018-06-08 06:38] DoraKnst opened #36 "測試機 - 公司帳戶管理/案場名單 - 同意[解除串接]，解除日到，已從案場名單移除，但未進解除記錄"
〔問題說明〕
前置條件：
社區A串接日期(6/8-6/22)
申請[解除串接] 於6/8 解除
主管[同意]該筆申請

◆ Expect：
解除日當日-->6/8：社區A 於案場名單中移除，並記錄於[解除記錄]

◆ Actual:
解除日當日-->6/8：社區A 於案場名單中**並未**移除，且**並未**記錄於[解除記錄]

〔測試步驟〕
進入公司帳戶管理/天天保全/案場名單
替社區"大智園道"申請解除串接於6/8

進入變動申請管理/[大智園道"申請解除串接]申請單
點擊[同意]

回到公司帳戶管理/天天保全/案場名單 --->大智園道 已從案場名單中移除
但**並未**記錄於[解除記錄]

〔功能/所在位置〕
公司帳戶管理/案場名單

〔重要性〕
★★★

〔備註〕
@KnstMing

〔進案日期〕
2018/06/08

[2018-06-08 08:20] DoraKnst opened #37 "測試機 - 公司帳戶管理 - 新增案場/案場選單中 出現[申請中]、[已串接]社區"
**〔問題說明〕**
◆ Expect：
新增案場/案場選單中 不會出現[申請中]、[已串接]社區

◆ Actual:
新增案場/案場選單中 出現[申請中]、[已串接]社區

**〔測試步驟〕**
狀況1：
前置條件：物業公司A 申請串接社區K
進入公司帳戶管理-物業公司B
點擊[新增案場]>點開[案場名稱]選單>看見社區K在選單中供選擇 (社區K不應出現)

狀況2：
前置條件：物業公司A 正已串接社區K
進入公司帳戶管理-物業公司B
點擊[新增案場]>點開[案場名稱]選單>看見社區K在選單中供選擇 (社區K不應出現)

**〔功能/所在位置〕**
公司帳戶管理 - 新增案場/案場選單中

**〔重要性〕**
★★★

**〔備註〕**
@KnstMing

**〔進案日期〕**
2018/06/08

[2018-06-08 08:59] DoraKnst opened #38 "測試機 - 公司帳戶管理/案場名單 - [新增案場]新增申請被拒絕，該案場進入解除記錄"
**〔問題說明〕**
物業公司A 申請新增社區K 被拒絕
◆ Expect：
該案場不在物業公司 案場名單中，且不在解除記錄中

◆ Actual:
該案場不在物業公司 案場名單中，**但在解除記錄中**

**〔測試步驟〕**
進入公司帳戶管理/天天保全/案場名單
新增案場[太子景雲見]--> [新增案場]申請單建立(申請單編號：180608028)

進入變動申請管理
點擊申請單編號：180608028
拒絕該筆申請

進入公司帳戶管理/天天保全/案場名單
不在名單中，卻在解除記錄 (不應該出現在解除記錄)

**〔功能/所在位置〕**
公司帳戶管理/案場名單

**〔重要性〕**
★★★

**〔備註〕**
@KnstMing

**〔進案日期〕**
2018/06/08

[2018-06-08 09:26] DoraKnst opened #39 "變動申請管理 - [解除串接]申請單 解除生效日該條目未顯示"
**〔問題說明〕**
◆ Expect：
顯示：文字"解除生效日" + 日期 (如圖)
![default](https://user-images.githubusercontent.com/35495325/41150439-96ba20d0-6b40-11e8-9e29-133032462637.PNG)

◆ Actual:
顯示：文字"申請串接時接" [原本串接結束日期]至 [申請解除串接日期](如下圖)
![image](https://user-images.githubusercontent.com/35495325/41150607-08610bfe-6b41-11e8-8626-72d656386bfc.png)

**〔測試步驟〕**
進入變動申請管理
點擊 任一筆[解除串接]申請
檢視 解除日期 該列

**〔功能/所在位置〕**
變動申請管理

**〔重要性〕**

[2018-06-11 03:06] KnstMing commented on #38
@monkey6366  在麻煩Front-End 協助調整 [新增解除申請單] call API 傳入Params裡的Start(起始日)、Due(迄日)都傳入[畫面UI的解除日]。API:/EstateManagement/Community/AddCommunityDetail
建立 案場名單申請記錄 新增案場/延長串接/解除串接

[2018-06-11 03:08] KnstMing commented on #36
@monkey6366  在麻煩Front-End 協助調整 [新增解除申請單] call API 傳入Params裡的Start(起始日)、Due(迄日)都傳入[畫面UI的解除日]。API:/EstateManagement/Community/AddCommunityDetail
建立 案場名單申請記錄 新增案場/延長串接/解除串接

[2018-06-11 03:09] KnstMing commented on #35
@monkey6366  在麻煩Front-End 協助調整 [新增延長申請單] call API 傳入Params裡的Start(起始日)、Due(迄日)都傳入[畫面UI的延長日期]。API:/EstateManagement/Community/AddCommunityDetail
建立 案場名單申請記錄 新增案場/延長串接/解除串接

[2018-06-11 03:44] KnstMing commented on #34
@monkey6366  在麻煩Front-End 協助調整 [新增解除申請單] call API 傳入Params裡的Start(起始日)、Due(迄日)都傳入[畫面UI的解除日]。API:/EstateManagement/Community/AddCommunityDetail
建立 案場名單申請記錄 新增案場/延長串接/解除串接

[2018-06-11 07:01] DoraKnst commented on #37
目標：避免重複串接 已串接案場、申請中案場
--

**原方案：**
篩選[案場名稱]選單，不出現已串接案場、申請中案場
執行難點：不同期間：選單篩選結果不同

**新方案：**
不篩選[案場名稱]選單

在使用者完成[案場名稱]、[串接時間]等資料填寫後，點[送出]時檢核

【情境1】

若 該社區所申請的串接期間：

	已被其他物業公司串接

則 跳出提視窗說"申請新增失敗，因該案場已被其他物業公司串接"

【情境2】

若 該社區所申請的串接期間：

	已被其他物業公司提出申請新增串接

則 跳出提視窗說"申請新增失敗，因該案場已被其他物業公司申請串接"

[2018-06-11 07:12] DoraKnst opened #40 "測試機 - 公司帳戶管理/案場名單 - 智生活案場名單 新增"已通過-等待串接""
**〔新增項目說明〕**
◆ Expect：
假設今天為2018/6/11
甲物業公司 欲新增社區A，申請通過，但串皆時間尚未到，該案場在[案場名單]的狀態顯示為"已通過-等待串接"

**範例：**
6/11 申請新增串接社區A，串接期間 8/1-8/30
6/11 送出申請，尚未審核 狀態：申請新增中
6/11-6/14狀態：申請新增中
6/15 申請通過 -->狀態：已通過-等待串接
6/15-7/31-->狀態：已通過-等待串接
8/1-8/30-->狀態：已串

**〔功能/所在位置〕**
公司帳戶管理/案場名單

**〔重要性〕**
★★★

**〔備註〕**
@KnstMing

**〔進案日期〕*
2018/06/11

[2018-06-13 10:35] monkey6366 commented on #39
6/13修正，預計6/19上測試

[2018-06-14 01:22] monkey6366 commented on #31
已修正，6/20上系統

[2018-06-14 03:33] monkey6366 commented on #33
已修正 6/20上測試

[2018-06-14 03:34] KnstMing commented on #38
已修正 6/14上測試機，請驗測

[2018-06-14 03:36] monkey6366 commented on #19
請確認 chrome是否有啟用selenium IDE 套件，會影響到元件運作，關掉該套件即可正常運作

[2018-06-14 03:36] KnstMing commented on #37
API完成調整 6/14上測試機，請 @monkey6366 ，接繼處理

[2018-06-14 03:38] KnstMing commented on #40
API完成調整 6/14上測試機，請驗測

[2018-06-14 03:45] KnstMing commented on #12
@WanYuKnst  已確認，這個為API問題。 6/14 完成調整，請驗測。

[2018-06-14 05:03] monkey6366 commented on #16
已修正完成，6/20上測試

[2018-06-14 05:05] monkey6366 commented on #37
後臺前端已修正OK,6/20前上測試

[2018-06-14 05:14] monkey6366 commented on #35
已修正，測試kingnet -> 高雄宜居 2018/7/31 -> 2018/8/31
6/20上測試

[2018-06-14 05:24] monkey6366 commented on #38
6/19上測試機

[2018-06-14 05:27] monkey6366 commented on #34
測試正常 6/19上測試

[2018-06-14 05:54] monkey6366 commented on #32
已修正，6/20前上測試

[2018-06-15 05:11] DoraKnst opened #41 "測試機 - 管理者選單 - 建立"
**〔需求項目〕**
開通下列人員有權限在物業雲管理後台
審核 [同意]、[拒絕] 變動申請書

1. 吳宥溱
2. 廖敏傑
3. 連國泰
4. 林建清
5. 李嘉裕
6. 朱建嘉
7. 周煥強
8. 林子皓
9. 洪婉瑜
10. 陳羿臻

**〔功能/所在位置〕**
物業雲 管理後台

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/06/15

[2018-06-15 06:58] DoraKnst commented on #40
checked,fixed

[2018-06-15 06:58] #40 closed, assigned to DoraKnst

[2018-06-15 07:00] DoraKnst commented on #39
checked,fixed

[2018-06-15 07:00] #39 closed, assigned to DoraKnst

[2018-06-15 07:03] DoraKnst commented on #38
checked,fixed

[2018-06-15 07:03] #38 closed, assigned to DoraKnst

[2018-06-15 07:25] DoraKnst commented on #35
checked,fixed

[2018-06-15 07:25] #35 closed, assigned to DoraKnst

[2018-06-15 07:26] DoraKnst commented on #33
checked,fixed

[2018-06-15 07:26] #33 closed, assigned to DoraKnst

[2018-06-15 07:27] DoraKnst commented on #32
checked,fixed

[2018-06-15 07:27] #32 closed, assigned to DoraKnst

[2018-06-15 07:27] DoraKnst commented on #31
checked,fixed

[2018-06-15 07:27] #31 closed, assigned to DoraKnst

[2018-06-15 07:29] DoraKnst commented on #30
checked,fixed

[2018-06-15 07:29] #30 closed, assigned to DoraKnst

[2018-06-15 07:33] DoraKnst commented on #19
@monkey6366  已移除selenium IDE 套件
可以成功勾選任意社區
但點擊[社區]選單的[全選] 卻會造成網頁當調

[2018-06-15 07:41] DoraKnst commented on #12
checked,fixed

[2018-06-15 07:41] #12 closed, assigned to DoraKnst

[2018-06-15 07:47] DoraKnst commented on #7
@monkey6366  未修復

天天保全：新增人員失敗，顯示如下圖提視窗 "此帳號不屬於任何群組"
![image](https://user-images.githubusercontent.com/35495325/41456437-085b80d6-70b3-11e8-9a9a-c1308aeac84c.png)

蘋果物業：新增人員失敗，顯示如下圖提視窗 ："選擇的帳號不是superAccount"

![image](https://user-images.githubusercontent.com/35495325/41456491-312195be-70b3-11e8-8f8b-1897d53e4ee2.png)

[2018-06-15 07:50] DoraKnst commented on #36
@KnstMing  無法測試
因為無法提出 [解除串接]申請
會跳出如下提視窗
![image](https://user-images.githubusercontent.com/35495325/41456654-c19efe06-70b3-11e8-9b2f-f281a3e529fd.png)

[2018-06-15 07:50] DoraKnst commented on #34
@KnstMing  無法測試
因為無法提出 [解除串接]申請
會跳出如下提視窗
![image](https://user-images.githubusercontent.com/35495325/41456654-c19efe06-70b3-11e8-9b2f-f281a3e529fd.png)

[2018-06-15 07:54] DoraKnst opened #42 "測試機 - 公司帳戶管理 - 提出[解除串接]申請失敗"
**〔問題說明〕**
◆ Expect：
[已串接]社區提出變動申請[解除串接] 可以成功申請

◆ Actual:
[已串接]社區提出變動申請[解除串接] 可以申請失敗

**〔測試步驟〕**
進入公司帳戶管理>天天保全>案場名單
點擊[變動申請]：勾選[申請解除串接]
填入日期、上傳附件檔
點[確定]
跳出提視窗說"社區已串接，因此無法提出申請"　（如下圖）
![image](https://user-images.githubusercontent.com/35495325/41456851-5396e3d2-70b4-11e8-882a-cd5542c3f767.png)

**〔功能/所在位置〕**
公司帳戶管理／案場名單

**〔重要性〕**
★★★

**〔備註〕**
@KnstMing
**〔進案日期〕**
2018/6/15

[2018-06-15 08:17] KnstMing commented on #36
@WanYuKnst  此為API問題，已調整，請重新驗測

[2018-06-15 08:59] DoraKnst commented on #34
checked,fixed

[2018-06-15 09:03] #34 closed, assigned to DoraKnst

[2018-06-15 09:04] DoraKnst commented on #42
checked,fixed

[2018-06-15 09:04] #42 closed, assigned to DoraKnst

[2018-06-15 10:21] DoraKnst opened #43 "測試機 - 解除串接 文案調整"
**〔問題說明〕**
◆ Expect：
在公司帳戶管理/案場名單/提出[變動申請]提視窗內容：改為"串接截止日"(標題) ；"串接最後一天"(輸入框提示文字) #如下圖
![1-6 7](https://user-images.githubusercontent.com/35495325/41463328-9e89c436-70c8-11e8-9148-5877e00e950a.png)

在變動申請管理：改為"串接截止日" #如下圖
![1-6 8](https://user-images.githubusercontent.com/35495325/41463351-b42f00da-70c8-11e8-85e0-7ffc20e91177.png)

**〔功能/所在位置〕**
公司帳戶管理/案場名單
變動申請管理

**〔重要性〕**
★★★

**〔備註〕**
@monkey63

[2018-06-21 05:21] KnstMing commented on #43
API 申請解除串接，申請截止日期未在[案場串接期間]，已調整錯誤訊息文案

[2018-06-21 05:53] KnstMing commented on #41
測試區-審核變動申請書 權限已開。
SSO User ID 如下：
吳宥溱	681
廖敏傑	519
連國泰	485
林建清	582
李嘉裕	510
朱建嘉	484
周煥強	493
林子皓	486
洪婉瑜	491
陳羿臻	680

[2018-06-21 06:07] monkey6366 commented on #43
頁面已修正

[2018-06-21 06:11] monkey6366 commented on #19
因社區選單數量多，耗時太長造成瀏覽器回應逾時訊息，但若要全選社區亦可透過全選物業公司取代，故建議拿掉社區全選的功能，已修正

[2018-06-21 06:15] monkey6366 commented on #7
建議新建一個務業公司重新測試，因之前建立之公司的管理者在oauths上未分群組，oauths調整後這些帳號就無法建立自己公司的使用者，所以要用新的公司建立的管理者再測

[2018-06-22 01:11] DoraKnst commented on #43
@monkey6366  @KnstMing  在變動申請管理：改為"串接截止日" #如下圖 未調整

[2018-06-22 01:29] DoraKnst commented on #37
checked,fixed

[2018-06-22 01:30] DoraKnst commented on #19
checked,fixed

[2018-06-22 01:31] DoraKnst commented on #7
checked,fixed

[2018-06-22 01:31] #7 closed, assigned to DoraKnst

[2018-06-22 01:31] DoraKnst commented on #16
checked,fixed

[2018-06-22 01:31] #16 closed, assigned to DoraKnst

[2018-06-22 01:42] DoraKnst commented on #19
@monkey6366  變動申請 [已結單] 的社區選單未調整

[2018-06-22 01:45] DoraKnst commented on #43
@monkey6366 公司帳戶管理 案場名單 "解除記錄" 改為 "串接截止日"
![image](https://user-images.githubusercontent.com/35495325/41753570-cdaf6b8e-7600-11e8-811c-36ab89425ef2.png)

[2018-06-22 01:46] DoraKnst commented on #36
checked,fixed

[2018-06-22 01:46] #36 closed, assigned to DoraKnst

[2018-06-22 02:47] DoraKnst opened #44 "測試機 - 新增回到EIP首頁的按鈕"
**〔新需求〕**
點擊頁面右上角Menu Icon 顯示[EIP首頁]的選項-->點擊後開啟新頁面導致[EIP首頁]
(https://eip.kingnetsmart.com.tw)
如下圖
![1-6 8 1](https://user-images.githubusercontent.com/35495325/41755380-9e1cbe40-7609-11e8-855c-b6b8eef6f2d8.png)

**〔功能/所在位置〕**
所有物業雲管理後台頁面

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/06/22

[2018-06-22 06:29] DoraKnst commented on #41
checked,done

[2018-06-22 06:29] #41 closed, assigned to DoraKnst

[2018-06-29 05:33] monkey6366 commented on #43
已修改

[2018-07-02 06:46] monkey6366 commented on #44
已修正

[2018-07-02 06:47] monkey6366 commented on #19
已修正

[2018-07-05 01:12] DoraKnst commented on #43
@monkey6366  下述未修改 在變動申請管理："解除串接"申請單的"解除串接日(排定)" 改為"串接截止日" #如下圖
Expect
![1-6 8](https://user-images.githubusercontent.com/35495325/41463351-b42f00da-70c8-11e8-85e0-7ffc20e91177.png)

Actual
![image](https://user-images.githubusercontent.com/35495325/42297652-8c585a5a-8033-11e8-9608-626e931428c1.png)

[2018-07-05 01:14] DoraKnst commented on #19
checked,fixed

[2018-07-05 01:14] #19 closed, assigned to DoraKnst

[2018-07-05 01:14] DoraKnst commented on #44
checked,fixed

[2018-07-05 01:14] #44 closed, assigned to DoraKnst

[2018-07-05 02:22] DoraKnst opened #45 "測試機 - 公司帳戶管理/人員編制 - 新增[所有者]、[管理者]失敗"
**〔問題說明〕**
◆ Expect：
可以成功新增[所有者]、[管理者]

◆ Actual:
新增[所有者]、[管理者]失敗，顯示"無權執行此操作"

如下圖：
![image](https://user-images.githubusercontent.com/35495325/42299309-0e700bf6-803d-11e8-92d2-05b03b9a8b40.png)

**〔測試步驟〕**
進入Kingnet公司帳戶/人員編制
新增[所有者]、[管理者] ：輸入姓名、帳號、密碼
點[確定]
跳出"無權執行此操作彈窗

**〔功能/所在位置〕**
公司帳戶管理/人員編制

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/07/05

[2018-07-05 02:25] DoraKnst opened #46 "測試機 - 公司帳戶管理/人員編制 - 重設密碼 失敗"
**〔問題說明〕**
◆ Expect：
可以重設人員密碼

◆ Actual:
重設人員密碼失敗
如下圖
![image](https://user-images.githubusercontent.com/35495325/42299394-80e726b0-803d-11e8-83f9-20f5c446ba9f.png)

**〔測試步驟〕**
進入Kingnet公司帳戶/人員編制
點擊"測試帳號1b"的重設密碼
點[確定]
跳出"無權執行此操作彈窗

**〔功能/所在位置〕**
公司帳戶管理/人員編制

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/07/05

[2018-07-10 05:23] monkey6366 commented on #43
修改完成

[2018-07-11 09:37] WanYuKnst commented on #43
@monkey6366  並未修正

[2018-07-11 09:41] DoraKnst commented on #45
Checked, fixed

[2018-07-11 09:41] #45 closed, assigned to DoraKnst

[2018-07-11 09:54] DoraKnst commented on #43
checked,fixed

[2018-07-11 09:54] #43 closed, assigned to DoraKnst

[2018-07-12 02:50] DoraKnst commented on #46
@monkey6366  未修復
重設密碼後，至物業雲前台
重新用新密碼登入>>無法登入
用舊密碼登入>>成功登入

[2018-07-12 02:58] DoraKnst commented on #37
@KnstMing   bug又出現了，未修復

[2018-07-13 01:32] DoraKnst commented on #37
重現使用物業公司、社區

社區：國雄馥花園

物業公司：葡萄物業
申請串接：2018/07/11 至 2018/07/31
申請日期：7/11
@KnstMing
物業公司：AppleOne
申請串接2018/07/12 至 2018/07/30
申請日期：7/12

[2018-07-13 01:35] DoraKnst opened #47 "測試機 - 變動申請管理 - 申請書中 社區名稱消失"
**〔問題說明〕**
◆ Expect：
會顯示社區名稱

◆ Actual:
![image](https://user-images.githubusercontent.com/35495325/42667760-eae8661c-867f-11e8-8714-0a62ac26fe24.png)

**〔測試步驟〕**
進入變動申請管理
在處理中或已結單點任一申請書

**〔功能/所在位置〕**
變動申請管理/處理中或已結單

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2015/07/13

[2018-07-13 02:17] KnstMing commented on #37
測試問題，API已修正，請重新驗測。 @WanYuKnst

[2018-07-13 02:24] DoraKnst commented on #37
checked,fixed

[2018-07-13 02:24] #37 closed, assigned to DoraKnst

[2018-07-16 02:48] monkey6366 commented on #47
已針對API改版修正完成

[2018-07-16 02:53] monkey6366 commented on #46
因新增管理者時uid帶成所有者，造成已修復完成

[2018-07-16 03:44] DoraKnst commented on #47
checked,fixed

[2018-07-16 03:44] #47 closed, assigned to DoraKnst

[2018-07-16 03:44] DoraKnst commented on #46
checked,fixed

[2018-07-16 03:44] #46 closed, assigned to DoraKnst

[2018-07-16 03:49] DoraKnst opened #48 "測試機 - 變動申請管理 - [處理中]申請書點[返回]跳轉回[變動申請管理-已結單]頁面"
**〔問題說明〕**
◆ Expect：
[處理中]申請書點[返回]跳轉回[變動申請管理-**處理中**]頁面

◆ Actual:
[處理中]申請書點[返回]跳轉回[變動申請管理-**已結單**]頁面

**〔測試步驟〕**
登入 wanyuhungu
進入[變動申請管理]
點 [180716002]申請書
進入[180716002]申請書 詳細資訊
點返回-->跳轉回[變動申請管理-已結單]頁面

**〔功能/所在位置〕**
變動申請管理

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/07/16

[2018-07-17 05:33] monkey6366 commented on #48
已修正

[2018-07-17 05:44] DoraKnst commented on #48
checked,fixed

[2018-07-17 05:44] #48 closed, assigned to DoraKnst

[2018-07-19 06:16] DoraKnst opened #49 "Demo - 公司帳戶管理/案場名單 - 新增智生活案場 失敗"
**〔問題說明〕**
◆ Expect：
可以新增智生活案場

◆ Actual:
無法成功新增智生活案場

**〔測試步驟〕**
如下圖
![20180719_141333](https://user-images.githubusercontent.com/35495325/42924764-3f840bbc-8b5e-11e8-84c9-077e7ec84a78.gif)

**〔功能/所在位置〕**
公司帳戶管理/案場名單

**〔重要性〕**
★★★

**〔備註〕**
@KnstMing

**〔進案日期〕**
2018/07/19

[2018-07-19 07:07] KnstMing commented on #49
發生問題是因為使用正式DB Function沒有權限，導致執行失敗。已請至越協助開放權限，解決問題。請重新測試

[2018-07-20 03:05] DoraKnst commented on #49
checked,fixed

[2018-07-20 03:05] #49 closed, assigned to DoraKnst

[2018-07-20 03:15] DoraKnst opened #50 "Test & Demo - 變動申請管理/處理中 & 已結單 - 縣市篩選失敗"
**〔問題說明〕**
◆ Expect：
可以透過縣市篩選申請單

◆ Actual:
無法透過縣市篩選申請單

**〔測試步驟〕**
進入Test 或Demo站台的變動申請管理
篩選台中市
點查詢
無反應(並不會篩處社區屬於台中市的申請書)

**〔功能/所在位置〕**
變動申請管理/處理中

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/07/20

[2018-07-20 04:09] DoraKnst opened #51 "測試機 - 變動申請管理 - 同意、拒絕 新增案場失敗"
**〔問題說明〕**
◆ Expect：
主管可以[同意]、[拒絕]變動申請書
[同意]、[拒絕]後該筆申請單會轉至[已結單]並從[處理中]消失

◆ Actual:
主管可以[同意]、[拒絕]變動申請書
[同意]、[拒絕]後該筆申請單並未轉至[已結單]
仍顯示於[處理中]列表
**〔測試步驟〕**
進入Test的物業雲管理後台 / 變動申請管理
點擊任一筆[處理中]的申請書
點擊[同意]>跳出成功審核提視窗>跳轉回[處理中]列表 > 該筆申請書仍在
點擊[拒絕]>跳出成功審核提視窗>跳轉回[已結單]列表 >未顯示該筆申請書，該筆申請書仍在[處理中]列表

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366
Demo沒有此問題
之前測試Test站台的後台也無此問題

**〔進案日期〕**
2018/07/20

[2018-07-20 09:30] DoraKnst commented on #51
@KnstMing 想請問預計何時完成修復?

[2018-07-20 10:00] KnstMing commented on #51
@WanYuKnst  已排除問題

[2018-07-23 02:01] DoraKnst commented on #51
@KnstMing  未修復，仍無法成功新增

[2018-07-23 03:21] DoraKnst commented on #51
checked,fixed

[2018-07-25 07:17] DoraKnst commented on #50
@monkey6366 checked,fixed
請上Demo

[2018-07-25 08:35] KnstMing commented on #50
API配合調整，已上Demo機

[2018-07-25 09:11] DoraKnst commented on #50
Checked, fixed

[2018-07-25 09:11] #50 closed, assigned to DoraKnst

[2018-07-25 09:16] DoraKnst opened #52 "Test & Demo - 變動申請管理 - 點擊[處理中]或[已結單]的申請書>進入失敗"
**〔問題說明〕**
◆ Expect：
在變動申請管理
點擊[處理中]或[已結單]的任一筆申請書
可以進入查看申請書

◆ Actual:
在變動申請管理
點擊[處理中]或[已結單]的任一筆申請書
空白頁面 一直跑圈圈

**〔測試步驟〕**
以wanyuhungu帳號登入
進入變動申請管理
點擊[處理中]或[已結單]的任一筆申請書
檢視申請書

**〔功能/所在位置〕**
變動申請管理

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366 test和demo站台都有此問題

**〔進案日期〕**
2018/07/25

[2018-07-26 00:57] monkey6366 commented on #52
已修正完成

[2018-07-26 01:03] DoraKnst commented on #52
checked,fixed

[2018-07-26 01:03] #52 closed, assigned to DoraKnst

[2018-08-28 03:14] DoraKnst commented on #51
@KnstMing @monkey6366  問題重現 請確認
使用帳號：wanyuhungu
位置：物業雲測是站台
步驟：某社區申請己除串接
進入變動申請管理>點[拒絕]或[同意]接無效>無法成功審核通過該筆申請

[2018-08-28 03:23] KnstMing commented on #51
變動申請管理 [拒絕]或[同意]，審核動作寫在DB層，
測試DB每天早上會由正式DB restore，
審核動作DB部份沒能正常restore過來，因此審核會有問題

[2018-08-28 03:38] #51 closed, assigned to DoraKnst

[2018-08-28 05:30] DoraKnst opened #53 "測試機 - 公司帳號管理 - 人員編制 - 重設密碼失敗"
**〔問題說明〕**
◆ Expect：
可以成功重設密碼

◆ Actual:
顯示下圖無法成功變更密碼
![image](https://user-images.githubusercontent.com/35495325/44702446-1bb6a000-aac6-11e8-9e04-30450d1f2b62.png)

**〔測試步驟〕**
用wanyuhungu進入物業雲後台
進入EC測是公司-人員編制
欲變更任一人員的密碼
變更密碼失敗 顯示尚圖資訊

**〔功能/所在位置〕**
公司帳號管理 - 人員編制

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366
Demo機無此問題，後台顯示重設成功，但因為沒有前台供測試驗證，所以無法確認是否珍的更改密碼成功
**〔進案日期〕**
2018/08/28

[2018-08-29 03:19] DoraKnst commented on #53
2018/08/29測試無法重現

[2018-09-11 02:14] DoraKnst opened #54 "測試機 - 業務、技術客服、BD行銷 帳號登入失敗"
**〔問題說明〕**
◆ Expect：
所有有EIP帳號者皆可登入物業雲後台

◆ Actual:
多人嘗試登入皆失敗顯示如下圖
![image](https://user-images.githubusercontent.com/35495325/45333967-39e2cc80-b5ab-11e8-8615-7548183aa697.png)
嘗試登入名單

Num | 部門 | 姓名 | 帳號 | 密碼 | 登入結果
-- | -- | -- | -- | -- | --
1 | 業務 | 朱建嘉 | jack626156 | qzwxasd | 失敗
2 | 技術客服 | 張敏瑜 | mandy122693 | L224589466 | 失敗
3 | 業務 | 楊京偉 | Inkbeverage |   | 失敗
4 | 業務 | 湯登傑 | jian780905 |   |

[2018-09-11 02:21] DoraKnst opened #55 "測試機 - 社區選單 - 社區查詢資料功能 運行過緩"
**〔問題說明〕**
◆ Expect：
在[公司帳號管理] - 新增案場 - 社區選單
[變動申請管理] - 社區篩選選單
使用關鍵字搜尋運行不用等待1-2秒 卡住

◆ Actual:
在[公司帳號管理] - 新增案場 - 社區選單
[變動申請管理] - 社區篩選選單
使用關鍵字搜尋運行較卡

**〔測試步驟〕**
登入物業雲後台
進入公司帳戶管理、變動申請管理
↓
在[公司帳號管理] - 新增案場 - 使用社區選單關鍵字搜尋"左"
[變動申請管理] - 社區篩選選單 - 使用社區選單關鍵字搜尋"左"

**〔功能/所在位置〕**
社區選單

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366
是否可調整
參考e-bill 繳費的選單設計方式
https://ebill.ba.org.tw/PayPage/Index/E8C51A14-5475-42C4-B888-

[2018-09-11 05:59] DoraKnst opened #56 "測試機 - 後臺新增 登出按鈕"
**〔問題說明〕**
◆ Expect：
![1- 1](https://user-images.githubusercontent.com/35495325/45340801-a5886200-b5ca-11e8-90f8-c74f8d5d4da9.png)

◆ Actual:
![1-](https://user-images.githubusercontent.com/35495325/45340817-afaa6080-b5ca-11e8-9d23-0897530b17c9.png)

**〔測試步驟〕**
登入物業雲後台
試圖登出，無登出按鈕

**〔功能/所在位置〕**
 登出按鈕

**〔重要性〕**
★★★

**〔備註〕**
@monkey6366

**〔進案日期〕**
2018/09/11

[2018-09-12 02:54] monkey6366 commented on #56
已修改完成，放於右上角回EIP下面

[2018-09-12 05:43] DoraKnst opened #57 "物業雲後台 帳號建置 + 特定人員主管權限開通"
【建置SSO帳號 已登入物業雲後台】
名單：
[物業雲後台SSO帳號建置.xlsx](https://github.com/WanYuKnst/estatemanageplatform/files/2373683/SSO.xlsx)

主管權限開通 驗測結果

Num | 部門 | 姓名 | 權限 | 是否開啟主管權限
-- | -- | -- | -- | --
1 | BD | 林子皓 | 主管 | 無帳密無法驗證
4 | BD | 吳瑋珍 | 主管 | 已開啟
6 | BD | 陳羿臻 | 主管 | 已開啟
7 | BD | 洪婉瑜 | 主管 | 已開啟
19 | 台中業務 | 李嘉裕 | 主管 | 無帳密無法驗證
20 | 台中業務 | 朱建嘉 | 主管 | 無帳密無法驗證
38 | 新竹 | 周煥強 | 主管 | 無帳密無法驗證
47 | 高雄 | 陳俊任 | 主管 | 無帳密無

[2018-09-12 05:43] DoraKnst commented on #56
check, done

[2018-09-12 05:43] #56 closed, assigned to DoraKnst

[2018-09-13 01:31] DoraKnst commented on #57
@monkey6366  一般人員物業雲後台登入測試 【測試結果 - 登入失敗】

Num | 部門 | 姓名 | 帳號 | 密碼 | 登入結果
-- | -- | -- | -- | -- | --
1 | 業務 | 湯登傑 | jack626156 | qzwxasd | 失敗
3 | 業務 | 楊京偉 | Inkbeverage |   | 失敗
6 | BD   產品組 | 蕭伊婷 | joyhsiao | BD9488 | 失敗

[2018-10-11 03:36] DoraKnst opened #58 "Test - 社區意見反映 - 匯出彈窗文案未調整為"匯出""
**〔問題說明〕**
◆ Expect：
匯出彈窗文案調整為"匯出"

◆ Actual:
匯出彈窗文案未為"匯出公告"

**〔測試步驟〕**
進入意見反映
匯出PDF、Excel
檢視匯出彈窗標題文字

**〔功能/所在位置〕**
社區意見反映

**〔重要性〕**
★★★

**〔備註〕**

**〔進案日期〕**
2018/10/11

[2018-10-11 03:38] DoraKnst opened #59 "Test - 人員差勤 - 無照片提示文案 字型調整"
**〔問題說明〕**
◆ Expect：
字型：微軟正黑體

◆ Actual:
字型：新細明體

**〔測試步驟〕**
進入人員差勤
檢視一筆無照片的差勤紀錄

**〔功能/所在位置〕**
人員差勤

**〔重要性〕**
★★★

**〔備註〕**

**〔進案日期〕**
2018/10/11

[2018-10-11 03:42] DoraKnst opened #60 "Test - 前台 - 新增社區公告 - 未修復[日其覆蓋問題]"
**〔問題說明〕**
◆ Expect：
在選擇日期時過去選擇過去[日期紀錄選]單不會顯示並遮蔽[日期選單]

◆ Actual:
過去[日期紀錄選]單會顯示並遮蔽[日期選單]
![image](https://user-images.githubusercontent.com/35495325/46779468-7fc9b680-cd4a-11e8-8c1a-320e56a566e4.png)

**〔測試步驟〕**
進入社區公告/新增公告
刊登日期設定
發現 過去[日期紀錄選]單不會顯示並遮蔽[日期選單]

**〔功能/所在位置〕**
社區公告/新增公告

**〔重要性〕**
★★★

**〔備註〕**
@KnstMing

**〔進案日期〕**
2018/10/11

[2018-10-11 03:45] DoraKnst opened #61 "Test- 前台 - 通知 - 社區名稱 未調整為粗體"
**〔問題說明〕**
◆ Expect：
通知文案中的社區名稱 調整為粗體

◆ Actual:
通知文案中的社區名稱 未調整為粗體
![image](https://user-images.githubusercontent.com/35495325/46779578-08485700-cd4b-11e8-9f4e-4a4e365343a3.png)

**〔測試步驟〕**
登入 ec_owner-ectest
打卡通知列表檢視

**〔功能/所在位置〕**
通知

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue

**〔進案日期〕**
2018/10/11

[2018-10-11 03:50] DoraKnst opened #62 "Test- 個人戶管理 - 視窗寬度沒有配合文案長度自動調整寬度"
**〔問題說明〕**
◆ Expect：
此為V2.0 正式機 畫面
![image](https://user-images.githubusercontent.com/35495325/46779715-91f82480-cd4b-11e8-82a5-0dbeb3404698.png)

◆ Actual:
此為V2.1 測試機 畫面
![image](https://user-images.githubusercontent.com/35495325/46779677-72f99280-cd4b-11e8-83d7-3488709f9c50.png)

**〔測試步驟〕**
進入 個人戶管理
編輯Email 設一個很的email
發現如上圖Expect 文字跑出視窗的問題

**〔功能/所在位置〕**
個人戶管理

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblu

[2018-10-11 03:52] KnstMing commented on #61
@WanYuKnst  舊的通知訊息，無法將社區名稱 改為粗體。此功能只能為V2.1新的通知才有

[2018-10-11 03:56] DoraKnst opened #63 "Test - 前台 - 全公司公告、個別案場公告 - 匯出未顯示匯出視窗"
**〔問題說明〕**
◆ Expect：
全公司公告、個別案場公 - 匯出會顯示匯出視窗 提示下載進度

◆ Actual:
全公司公告、個別案場公 - 匯出未顯示匯出視窗
點擊[匯出]後會直接下載檔案

**〔測試步驟〕**
進入 全公司公告、個別案場公告
篩選出一些公告紀錄
點匯出PDF或Excel
會直接下載檔案

**〔功能/所在位置〕**
 全公司公告、個別案場公告  | 匯出功能

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue  匯出彈窗的標題請一同從"匯出公告"調整文案為"匯出"

**〔進案日期〕**
20181011

[2018-10-11 05:09] DoraKnst opened #64 "Test - 前台 - 巡邏 - 無資料點[匯出pdf] 顯示 Server Error畫面"
**〔問題說明〕**
◆ Expect：
 無資料點[匯出PDF]>>停留在原畫面
![expect](https://user-images.githubusercontent.com/35495325/46781886-52830580-cd56-11e8-96bf-179453b5037f.gif)

◆ Actual:
 無資料點[匯出]>>顯示 Server Error畫面
![actual](https://user-images.githubusercontent.com/35495325/46781894-5d3d9a80-cd56-11e8-8a85-470d035d2134.gif)

**〔測試步驟〕**
進入 巡邏
點[匯出-pdf]
顯示如下圖
![image](https://user-images.githubusercontent.com/35495325/

[2018-10-11 05:19] DoraKnst opened #65 "Test - 後台 - 公司帳戶管理 說明文案調整"
**〔問題說明〕**
◆ 調整內容：
改為
![image](https://user-images.githubusercontent.com/35495325/46782159-b2c67700-cd57-11e8-90db-6882d252aad3.png)

◆ Actual:
![image](https://user-images.githubusercontent.com/35495325/46782168-c40f8380-cd57-11e8-8c71-161cdf6f814d.png)

**〔測試步驟〕**
進入[ 公司帳戶管理]
檢視說明文案

**〔功能/所在位置〕**
公司帳戶管理

**〔重要性〕**
★★★

**〔備註〕**
此為Wireframe文案顯示錯誤導致，請協助調整
白板已調整

**〔進案日期〕**

[2018-10-11 05:37] DoraKnst opened #66 "後台 - 登出顯示錯誤畫面"
**〔問題說明〕**
◆ Expect：
點[登出]會跳回物業雲後台SSO登入畫面

◆ Actual:
點[登出]顯示如下畫面
![image](https://user-images.githubusercontent.com/35495325/46782909-a7c11600-cd5a-11e8-9acc-11da83d6d43e.png)

**〔測試步驟〕**
用wanyuhungu帳號登入 物業雲後台
點右上角[登出]按鈕
顯示如上畫面

**〔功能/所在位置〕**
登出

**〔重要性〕**
★★★

**〔備註〕**

**〔進案日期〕**
2018/10/11

[2018-10-11 05:41] DoraKnst opened #67 "後台 - 公司帳戶管理 - 登入後首次點某公司帳號顯示[提示彈窗]"
**〔問題說明〕**
◆ Expect：
登入後首次點某公司帳號不會顯示[提示彈窗]

◆ Actual:
登入後首次點某公司帳號顯示[提示彈窗] 如下圖
![image](https://user-images.githubusercontent.com/35495325/46782985-fa9acd80-cd5a-11e8-9702-1f29c96de24b.png)

**〔測試步驟〕**
登入物業雲後台
進入[公司帳戶管理]
點"EC測試公司"
顯示如上圖

**〔功能/所在位置〕**
公司帳戶管理

**〔重要性〕**
★★★

**〔備註〕**
視窗點[確定]可以順利進入該公司帳號檢視詳細資訊
接著返回公司帳戶表在在點選進入其他帳號不會再顯示上圖提視窗

**〔進案日期〕**
20181011

[2018-10-11 05:44] DoraKnst opened #68 "後台 - 變動申請管理 - 點[匯出]未顯示匯出進度提視窗"
**〔問題說明〕**
◆ Expect：
點[匯出]應顯示匯出進度提視窗
請參考白板Wireframe

◆ Actual:
點[匯出]未顯示匯出進度提視窗
**〔測試步驟〕**

**〔功能/所在位置〕**
變動申請管理 處理中、已結單

**〔重要性〕**
★★★

**〔備註〕**

**〔進案日期〕**
20181011

[2018-10-11 06:04] DoraKnst opened #69 "Test - 後台 - 變動申請管理 - [縣市查詢]功能撈取資料失敗"
**〔問題說明〕**
◆ Expect：
 [縣市查詢]功能撈取資料可以確實撈取符合條件的紀錄

◆ Actual:
 [縣市查詢]功能撈取資料失敗
**〔測試步驟〕**
如操作影片
https://drive.google.com/file/d/1e94YxZNAl5m4S1PWg44Xp1ZxvToXaJAD/view?usp=sharing

**〔功能/所在位置〕**
進入 變動申請管理 處理中、已結單
顯示選擇"台中"  應要顯示"遠雄之星" (遠雄之星2 為位於台中市的社區)

**〔重要性〕**
★★★

**〔備註〕**

**〔進案日期〕**
2018/10/11

[2018-10-11 06:16] DoraKnst opened #70 "Test - 後台 - 變動申請管理 - 出現未預期提示窗，且[社區縣市]、[社區查詢]、[物業公司查詢]被禁用"
**〔問題說明〕**
◆ Expect：
不會出現未預期提示窗，篩選功能不會被禁用
除非情境是：
使用物業公司查詢時>>社區查詢、社區縣市篩選 會被禁用
使用社區查詢、社區縣市篩選>>物業公司查詢 會被禁用

◆ Actual:
如操作測試影片所示
https://drive.google.com/file/d/1oRWjQgjooarxg7esHyjDEcu65tdjDbVW/view?usp=sharing

**〔測試步驟〕**
進入 變動申請管理
點擊[日期

**〔功能/所在位置〕**
變動申請管理 處理中、已結單

**〔重要性〕**
★★★

**〔備註〕**
並非每次登入使用都會發生此問題
目前測試登出後重新登入會發生此問題是次數是：4次 (總共測試5次)

**〔進案日期〕**

[2018-10-11 06:19] DoraKnst opened #71 "Test - 管理報表 - 匯出未顯示 匯出進度提視窗"
〔問題說明〕
◆ Expect：
點[匯出]應顯示匯出進度提視窗
請參考白板Wireframe

◆ Actual:
點[匯出]未顯示匯出進度提視窗
〔測試步驟〕

〔功能/所在位置〕
管理報表

〔重要性〕
★★★

〔備註〕

〔進案日期〕
20181011

[2018-10-16 01:35] bcjohnblue commented on #58
10/16 fixed.

[2018-10-16 01:37] bcjohnblue commented on #59
10/16 fixed.

[2018-10-16 01:37] bcjohnblue commented on #60
10/16 fixed.

[2018-10-16 01:38] bcjohnblue commented on #62
10/16 fixed.

[2018-10-16 01:38] bcjohnblue commented on #64
10/16 fixed.

[2018-10-16 01:39] bcjohnblue commented on #63
10/16 fixed.

[2018-10-16 01:40] bcjohnblue commented on #65
10/16 fixed.

[2018-10-16 01:41] bcjohnblue commented on #66
10/16 fixed.

[2018-10-16 01:41] bcjohnblue commented on #67
10/16 fixed.

[2018-10-16 01:42] bcjohnblue commented on #69
10/16 fixed.

[2018-10-16 01:45] bcjohnblue commented on #70
我進去的時候沒有出現這個問題，目前不知道為什麼會有這個狀況，可能要再觀察.

[2018-10-16 03:15] bcjohnblue commented on #68
10/16 fixed.

[2018-10-16 03:15] bcjohnblue commented on #71
10/16 fixed.

[2018-10-17 02:23] DoraKnst commented on #71
2018/10/17 check, fixed

[2018-10-17 02:23] #71 closed, assigned to DoraKnst

[2018-10-17 02:26] DoraKnst commented on #69
2018/10/17 check, fixed

[2018-10-17 02:26] #69 closed, assigned to DoraKnst

[2018-10-17 02:27] DoraKnst commented on #68
2018/10/17 check, fixed

[2018-10-17 02:27] #68 closed, assigned to DoraKnst

[2018-10-17 02:47] DoraKnst commented on #67
2018/10/17 check, fixed

[2018-10-17 02:47] #67 closed, assigned to DoraKnst

[2018-10-17 02:47] DoraKnst commented on #66
2018/10/17 check, fixed

[2018-10-17 02:47] #66 closed, assigned to DoraKnst

[2018-10-17 02:48] DoraKnst commented on #65
2018/10/17 check, fixed

[2018-10-17 02:48] #65 closed, assigned to DoraKnst

[2018-10-17 02:53] DoraKnst commented on #63
2018/10/17 Checked, fixed

[2018-10-17 02:53] #63 closed, assigned to DoraKnst

[2018-10-17 02:57] DoraKnst commented on #62
2018/10/17 checked, fixed

[2018-10-17 02:57] #62 closed, assigned to DoraKnst

[2018-10-17 03:01] DoraKnst commented on #60
2018/10/17 checked, fixed

[2018-10-17 03:01] #60 closed, assigned to DoraKnst

[2018-10-17 03:01] DoraKnst commented on #59
2018/10/17 checked, fixed

[2018-10-17 03:01] #59 closed, assigned to DoraKnst

[2018-10-17 03:04] DoraKnst commented on #58
2018/10/17 checked, fixed

[2018-10-17 03:04] #58 closed, assigned to DoraKnst

[2018-10-17 03:18] DoraKnst commented on #64
@bcjohnblue  未修復
**〔問題說明〕**
◆ Expect：
如V1.0上線版
https://drive.google.com/file/d/1aXYU3p95NBr990yDfdQavl6e0cN3eHJF/view?usp=sharing
◆ Actual:
如V2.1 Test
https://drive.google.com/file/d/1lB7TM3RYEI8QKROJt8M-x0JWgeDSKKmr/view?usp=sharing

**〔測試步驟〕**
初始進入某功能→點匯出PDF→顯示Server Error頁面
初始進入某功能→點匯出Excel→下載Excel檔→打開Excel檔顯示"<meta http-equiv=Content-Type content=text/html;charset=utf-8><style> .textmode { mso

[2018-10-17 03:25] DoraKnst opened #72 "Test - 公司內部公告 - 標籤功能 載入失敗、無法新增"
**〔問題說明〕**
◆ Expect：
檢視公告列表時：透過公告列表標籤欄位可以查詢已建立之標籤
新增公告時：標籤欄位>1.可以查詢已建立之標籤；2.新增新標籤

◆ Actual:
檢視公告列表時：透過公告列表標籤欄位查詢→顯示" 載入失敗"
新增公告時：標籤欄位>1.可以查詢已建立之標籤→顯示" 載入失敗"；2.新增新標籤→顯示" 載入失敗"
![image](https://user-images.githubusercontent.com/35495325/47060139-f2c9a600-d1fe-11e8-8936-4845d5c0d50c.png)

![image](https://user-images.githubusercontent.com/35495325/47060124-dfb6d600-d1fe-11e8-9ff3-8888f540605a.png)

[2018-10-17 03:35] DoraKnst opened #73 "Test - 後台- 未修復[日其覆蓋問題]"
〔問題說明〕
◆ Expect：
在選擇日期時[日期選單] 不會 被[過去選用紀錄清單]遮蔽

◆ Actual:
在選擇日期時[日期選單] 會 被[過去選用紀錄清單]遮蔽

〔測試步驟〕
使用有日期選單功能的主功能>>[日期選單]被遮蔽 (如下圖)
![image](https://user-images.githubusercontent.com/35495325/47060552-aaab8300-d200-11e8-92aa-24cf7e8ab2ab.png)
![image](https://user-images.githubusercontent.com/35495325/47060554-ada67380-d200-11e8-8eb7-d6d729d96603.png)

〔功能/所在位置〕
社區公告/新增公告

〔重要性〕
★★★

〔備註〕
@bcjohnblue

〔

[2018-10-17 03:36] DoraKnst commented on #55
已fixed

[2018-10-17 03:36] #55 closed, assigned to monkey6366

[2018-10-17 05:41] bcjohnblue commented on #72
10/17 fixed.

[2018-10-17 05:41] bcjohnblue commented on #73
10/17 fixed.

[2018-10-18 02:05] bcjohnblue commented on #64
10/18 fixed.

[2018-10-18 02:43] DoraKnst opened #74 "Test - 前台 - 通知內容消失"
**〔問題說明〕**
◆ Expect：
可以查看最新通知、歷史通知
#V2.0 正式機

![image](https://user-images.githubusercontent.com/35495325/47128062-61236c80-d2c2-11e8-95e3-b4f4da196315.png)

#V2.0 正式機

![image](https://user-images.githubusercontent.com/35495325/47128073-700a1f00-d2c2-11e8-818b-08601f6ca3a7.png)

◆ Actual:
無法查看通知，顯示如下圖

![image](https://user-images.githubusercontent.com/35495325/47128221-ec046700-d2c2-11e8-89b8-79

[2018-10-18 02:58] DoraKnst opened #75 "Test - 前台 - 資料異動按鈕框線消失"
**〔問題說明〕**
◆ Expect：
按鈕有框線 色號：#66666 (已更新至白板)
![image](https://user-images.githubusercontent.com/35495325/47128589-700b1e80-d2c4-11e8-89e0-f8d0522f5875.png)

◆ Actual:
![image](https://user-images.githubusercontent.com/35495325/47128398-97152080-d2c3-11e8-804a-bd082d91fc57.png)

**〔測試步驟〕**
登入ec_owner-ectest
進入人員資料
檢視異動按鈕[改卡]、[詳細]

**〔功能/所在位置〕**
人員資料

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue

**〔進案日期〕**

[2018-10-18 03:06] bcjohnblue commented on #75
10/18 fixed.

[2018-10-19 05:15] DoraKnst commented on #75
checked, fixed 10/19

[2018-10-19 05:15] #75 closed, assigned to DoraKnst

[2018-10-19 05:26] DoraKnst commented on #72
1019 checked fixed

[2018-10-19 05:26] #72 closed, assigned to DoraKnst

[2018-10-19 05:26] #61 closed, assigned to DoraKnst

[2018-10-19 05:28] DoraKnst commented on #64
1019 checked fixed

[2018-10-19 05:28] #64 closed, assigned to DoraKnst

[2018-10-19 05:36] DoraKnst commented on #70
@bcjohnblue  問題再次重現
繼續觀察

![image](https://user-images.githubusercontent.com/35495325/47199338-ad92a900-d3a3-11e8-95a1-7f3a96f969cf.png)

選項禁用-測試影片
https://drive.google.com/file/d/1wUcWyz1Qzi_HAN6g7CFUIJY4wTWgkxtL/view?usp=sharing

[2018-10-19 05:37] DoraKnst commented on #73
1019 checked, fixed

[2018-10-19 05:37] #73 closed, assigned to DoraKnst

[2018-10-19 05:39] DoraKnst commented on #74
無法重現，持續觀察

[2018-10-19 07:20] bcjohnblue commented on #70
10/19 fixed.

[2018-10-22 01:06] bcjohnblue commented on #70
我後來好像找到問題在哪了. 目前已經修復完畢 再請婉瑜測看看. 如果有問題的話再跟我說 謝謝

[2018-10-22 01:07] bcjohnblue commented on #70
我後來好像找到問題在哪了. 目前已經修復完畢 再請婉瑜測看看. 如果有問題的話再跟我說 謝謝

[2018-10-22 05:54] DoraKnst commented on #70
10/22 checked, fixed

[2018-10-22 05:54] #70 closed, assigned to DoraKnst

[2018-10-23 01:51] DoraKnst opened #76 "Demo,Test - 意見反映、人員差勤 - 匯出失敗"
**〔問題說明〕**
◆ Expect：
可以成功匯出PDF、Excel

◆ Actual:
匯出PDF、Excel失敗(如下圖)
意見反映
![image](https://user-images.githubusercontent.com/35495325/47329831-ac65c280-d6a8-11e8-8e40-9a7ac3e46a78.png)

人員差勤
![image](https://user-images.githubusercontent.com/35495325/47329838-b25ba380-d6a8-11e8-9611-06e368b9cb65.png)

**〔測試步驟〕**
登入estatetest1-kingnet.net
進入意見反映/、人員差勤 - /
輸入篩選期間 8/1~10/23
點查詢
點匯出PDF 或 Excel
匯出失敗

**〔

[2018-10-23 01:55] DoraKnst opened #77 "Demo,Test - 人員差勤 - 匯出 文案未調整"
**〔問題說明〕**
◆ Expect：
匯出視窗標題文案為 "匯出"

◆ Actual:
匯出視窗標題文案為 "匯出公告"

**〔測試步驟〕**
登入estatetest1-kingnet.net
進入 人員差勤
輸入篩選期間 8/1~10/23
點查詢
點匯出PDF 或 Excel
顯示匯出視窗 顯示標題文案為"匯出公告"
顯示匯出失敗彈窗

**〔功能/所在位置〕**
人員差勤

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue
Demo、Test 皆有此問題

**〔進案日期〕**
2018/10/23

[2018-10-23 03:06] DoraKnst opened #78 "Demo- 智生活後台 物業公告 - 串接物業雲公司內部公告 失敗"
**〔問題說明〕**
◆ Expect：
智生活後台 [物業公告]可以查看的接**物業雲**[公司內部公告]發布的全公司公告、個別案場公告

◆ Actual:
智生活後台 [物業公告]無法查看的接**物業雲**[公司內部公告]發布的全公司公告、個別案場公告

**〔測試步驟〕**

在物業雲 登入estatetest1-kingnet.net
在全公司公告(1023 EC test1)、個別案場公告(1023 Test EC)各發布一則公告

到智生活後台(https://www.kingnetsmart.com.tw/community/main.aspx)
[物業公告]查看物業雲發不的上述兩則公告>>無法檢視 顯示如下圖
![image](https://user-images.githubusercontent.com/35495325/47332869-6530ff00-d6b3

[2018-10-23 03:35] DoraKnst opened #79 "Test - 人員資料 - 新增單筆人員 失敗"
**〔問題說明〕**
◆ Expect：
可以成功新增人員

◆ Actual:
新增人員 失敗
**〔測試步驟〕**
請參考測試影片
https://drive.google.com/file/d/1HgSdar9kdnOEySGNpiY_TwxHszteZth0/view?usp=sharing

**〔功能/所在位置〕**
人員資料 - 新增單筆人員

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue

**〔進案日期〕**
2018/10/23

[2018-10-23 03:39] DoraKnst opened #80 "Test - 人員資料 - 新增單筆人員資料、編輯單筆人員資料、列表改卡&開卡 - 感應卡登記失敗"
〔問題說明〕
◆ Expect：
新增單筆人員資料、編輯單筆人員資料、列表改卡&開卡 時
可以成功用：1.NFC感應器 登記感應卡編號 2. 手動輸入感應卡編號並成功登記

◆ Actual:
新增單筆人員資料、編輯單筆人員資料、列表改卡&開卡 時
失敗：1.NFC感應器 登記感應卡編號
成功： 2. 手動輸入感應卡編號並成功登記

〔測試步驟〕
登入estatetest1-kingnet.net
進入 人員資料
點 新增單筆人員資料
卡片編號 點[登記] (已連接NFC感應器)
將悠遊卡A放上感應器感應
有叫一聲，但是卡片編號欄位仍為空

〔功能/所在位置〕
人員資料 - 新增單筆人員

〔重要性〕
★★★

〔備註〕
@bcjohnblue

〔進案日期〕
2018/10/23

[2018-10-23 03:44] DoraKnst opened #81 "Test - 人員資料 - 編輯人員資料失敗"
〔問題說明〕
◆ Expect：
可以成功編輯人員資料

◆ Actual:
編輯人員資料 失敗

〔測試步驟〕
登入estatetest1-kingnet.net
進入 人員資料
點任一筆人員資料的[詳細]
變更電話、姓名、照片
點[儲存]
顯示如下圖
![image](https://user-images.githubusercontent.com/35495325/47334300-04a4c080-d6b9-11e8-8e50-aaad92d0fe97.png)

〔功能/所在位置〕
人員資料 - 新增單筆人員

〔重要性〕
★★★

〔備註〕
@bcjohnblue

〔進案日期〕
2018/10/23

[2018-10-23 03:48] DoraKnst commented on #80
問題更新陳述

[2018-10-23 05:21] DoraKnst opened #82 "Test - 人員資料 - 批次匯入失敗"
**〔問題說明〕**
◆ Expect：
若資料格式正確可已成功批次匯入

◆ Actual:
若資料格式正確>>仍無法成功批次匯入

**〔測試步驟〕**
登入estatetest1-kingnet.net
進入 人員資料
下載模板Excel
打開Excel模板輸入資料並儲存檔案
進入 人員資料
點[批次匯入]
顯示匯入格是錯誤(如下圖)
![image](https://user-images.githubusercontent.com/35495325/47337402-5273f580-d6c6-11e8-9b90-b06787563188.png)

匯入檔案：
https://drive.google.com/file/d/1FdPDSJiAdbOSTK7Hc5cIrVNtCWiYN5BR/view?usp=sharing

**〔功能/所在位置〕**
人員資料/ 批次匯入

[2018-10-23 05:29] DoraKnst opened #83 "Test - 人員資料 - [部門]、[職務]選單 未填寫資料選像文案調整"
**〔問題說明〕**
◆ Adjust：
使用人員資料列表[部門]、[職務]篩選功能時
針對[部門]、[職務]欄位 未填寫內容的人員資料
選項名稱改為 "未填寫"

◆ Actual:
針對[部門]、[職務]欄位 未填寫內容的人員資料
選項為 (如下圖) 空白
![image](https://user-images.githubusercontent.com/35495325/47337663-7d127e00-d6c7-11e8-8267-b46c212df421.png)

**〔測試步驟〕**
進入 人員資料
檢視  [部門]、[職務]篩選功能
顯示如上圖

**〔功能/所在位置〕**
人員資料

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue  已調整在白板上

**〔進案日期〕**
2018/10/23

[2018-10-23 07:07] DoraKnst commented on #81
10/23
@KnstMing  早上測試失敗，下午成功，請協助了解問題

[2018-10-23 07:08] DoraKnst commented on #79
10/23
@KnstMing 早上測試失敗，下午成功，請協助了解問題

[2018-10-23 07:15] DoraKnst opened #84 "Test - 人員差勤 - 篩選選單 跑版"
**〔問題說明〕**
◆ Expect：
![image](https://user-images.githubusercontent.com/35495325/47342402-37a97d00-d6d6-11e8-9073-d1a2b2fcfdb6.png)

◆ Actual:
![image](https://user-images.githubusercontent.com/35495325/47342429-4abc4d00-d6d6-11e8-9c22-6b720c57bbd7.png)

**〔測試步驟〕**
登入estatetest1-kingnet.net
進入 人員差勤
檢視篩選功能列

**〔功能/所在位置〕**
人員差勤

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue

**〔進案日期〕**
2018/10/23

[2018-10-23 07:18] DoraKnst opened #85 "Test - 人員管理 - 下分人員資料、人員差勤"
**〔問題說明〕**
◆ Expect：
![image](https://user-images.githubusercontent.com/35495325/47342567-a5ee3f80-d6d6-11e8-87e2-15e1100d061e.png)

◆ Actual:
![image](https://user-images.githubusercontent.com/35495325/47342619-b4d4f200-d6d6-11e8-851f-768217fc1b6f.png)

**〔測試步驟〕**
登入estatetest1-kingnet.net
檢視左邊Side menu 人員資料、人員差勤 排列方式

**〔功能/所在位置〕**
物業雲 人員管理 - 下分人員資料、人員差勤

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue

**〔

[2018-10-23 07:36] DoraKnst commented on #83
@bcjohnblue
![image](https://user-images.githubusercontent.com/35495325/47343754-71c84e00-d6d9-11e8-94ff-93f8ba1581dc.png)
列表內容協同調整

[2018-10-23 08:07] DoraKnst commented on #84
測試時放大比率過小
無bug

[2018-10-23 08:07] #84 closed, assigned to bcjohnblue

[2018-10-24 02:08] bcjohnblue commented on #76
10/24 fixed.

[2018-10-24 02:09] bcjohnblue commented on #77
10/24 fixed.

[2018-10-24 02:09] bcjohnblue commented on #83
10/24 fixed.

[2018-10-24 03:32] DoraKnst commented on #77
10/24 checked, fixed

[2018-10-24 03:32] #77 closed, assigned to DoraKnst

[2018-10-24 03:34] DoraKnst commented on #76
10/24 checked, fixed

[2018-10-24 03:34] #76 closed, assigned to DoraKnst

[2018-10-24 06:57] DoraKnst opened #86 "Test - 人員資料 - 模板資料格式調整"
**【調整項目】**

Num | 欄位 | 調整內容
-- | -- | --
1 | 出生年月日 | 資料格式設定：日期,     Ex. 2018/10/18
2 | 到職日 | 資料格式設定：日期,    Ex.  2018/10/18
3 | 聯絡電話1 | 資料格式設定：文字,     避免輸入首個值為"0"時被移除
4 | 聯絡電話2 | 資料格式設定：文字,     避免輸入首個值為"0"時被移除
5 | 聯絡電話3 | 資料格式設定：文字,     避免輸入首個值為"0"時被移除
6 | 緊急聯絡人姓名1     電話 | 資料格式設定：文字,     避免輸入首個值為"0"時被移除
7 | 緊急聯絡人姓名2     電話 | 資料格式設定：文字 ,    避免輸入首個值為"0"時被移除
8 | 卡片編號 | 資料格式設定：文字,     避免輸入首個值為"0"時被移除

[2018-10-24 07:18] DoraKnst opened #87 "Test, Demo, 正式 - 人員管理 - 新增人員 按鈕失效"
**〔問題說明〕**
◆ Expect：
新增人員 可以成空新增

◆ Actual:
新增人員 按鈕失效

**〔測試步驟〕**
登入estatetest1-kingnet.net
進入人員管理
新增人員
點[確認]按鈕沒有反應 >>無法成功新增人員

**〔功能/所在位置〕**
人員管理

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue

**〔進案日期〕**
2018/10/24

[2018-10-24 07:54] KnstMing commented on #87
@WanYuKnst  測試機已fix，請複驗，謝謝

[2018-10-24 08:09] DoraKnst commented on #87
@bcjohnblue
公司帳號顯示錯誤
![image](https://user-images.githubusercontent.com/35495325/47415956-37c57d80-d7a7-11e8-8bb3-5c0e2985d9a2.png)

[2018-10-24 08:48] KnstMing commented on #87
@WanYuKnst  建立帳號的時候，傳錯帳號資料，導致建帳號有問題。請測試建新帳號是否還有此問題

[2018-10-24 08:50] DoraKnst commented on #87
@KnstMing 還是有唷
![image](https://user-images.githubusercontent.com/35495325/47418562-ee782c80-d7ac-11e8-9b5a-f1ca068e1002.png)

[2018-10-24 09:01] DoraKnst commented on #87
@KnstMing checked, fixed

[2018-10-24 09:01] #87 closed, assigned to bcjohnblue

[2018-10-24 09:13] bcjohnblue commented on #86
10/24 人員資料excel公版下載已更新成上面的範本檔案.

[2018-10-25 07:58] DoraKnst opened #88 "Test - 人員資料 - 下載[匯入模板] 名稱錯誤"
**〔問題說明〕**
◆ Expect：
下載模板之檔案名稱為
物業雲_人員資料批次匯入範本01

◆ Actual:
下載模板之檔案名稱為
物業雲V3.0 人事資料_匯入模板ForXls

**〔測試步驟〕**
登入ec_owner-ectest
進入 人員資料
點 新增-Excel公版下載
檢視下在的檔案之名稱

**〔功能/所在位置〕**
 人員資料

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue

**〔進案日期〕**
2018/10/25

[2018-10-25 08:06] DoraKnst opened #89 "Test - 人員資料 - 感應卡登記-若為中文輸入法會無法成功登記"
**〔問題說明〕**
◆ Expect：
目前輸入法：中、英、或其他任何輸入法下
皆可成功登記感應卡 (前提式此感應卡尚未被登記過)

◆ Actual:
目前輸入法：英文→可成功登記感應卡 (前提式此感應卡尚未被登記過)
目前輸入法：中文→登記失敗感應卡 (前提式此感應卡尚未被登記過)

**〔測試步驟〕**

前置設定：中文輸入法
登入ec_owner-ectest
進入 人員資料
點任一筆資料的[改卡]、[開卡]
無法成功登記，停留在原感應卡感應畫面

前置設定：中文輸入法
登入ec_owner-ectest
進入 人員資料
點新增單筆人員資料
進入新增人員頁面
點[登記]卡片按鈕
無法成功登記，停留在原感應卡感應畫面

前置設定：中文輸入法
登入ec_owner-ectest
進入 人員資料
點任一筆人員資料的[詳細]
進入人員詳細資料頁面
點編輯
進入人員資料編輯頁面
點[登記]

[2018-10-25 08:53] DoraKnst opened #90 "Test - 人員資料 - 新增/編輯 人員資料 - 身分證字號格式錯誤提示文案調整"
**〔問題說明〕**
◆ Expect：
![image](https://user-images.githubusercontent.com/35495325/47487922-fd76e180-d875-11e8-90e4-511fadca7820.png)

◆ Actual:
![image](https://user-images.githubusercontent.com/35495325/47488006-2008fa80-d876-11e8-9a3d-481008eb47bd.png)

**〔測試步驟〕**
登入ec_owner-ectest
進入 人員資料
新增人員資料 / 編輯人員資料
身分證字號輸入A12345678
顯示錯誤提示 (如上圖)

**〔功能/所在位置〕**
人員資料 - 新增/編輯 人員資料

**〔重要性〕**
★★★

**〔備註〕**
@bcj

[2018-10-25 08:58] DoraKnst opened #91 "Test - 人員資料 - 新增/編輯 人員資料 - 若有填寫緊急連絡人-姓名、電話未填寫提示文案調整"
**〔問題說明〕**
◆ Expect：
若有填寫緊急連絡人-姓名、電話未填寫提示文案調整
提示文案為：請填寫完整資訊

◆ Actual:
若有填寫緊急連絡人-姓名、電話未填寫提示文案調整
提示文案為：請輸入數值

**〔測試步驟〕**
登入ec_owner-ectest
進入 人員資料
新增人員資料 / 編輯人員資料
緊急連絡人{姓名有填，電話未填}或{姓名未填，電話有填}
顯示錯誤提示 (如上圖)

**〔功能/所在位置〕**
人員資料 - 新增/編輯 人員資料

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue
已更新置白板，關鍵字查詢：issue#91

**〔進案日期〕**
2018/10/25

[2018-10-25 09:01] DoraKnst opened #92 "Test - 人員資料 - 新增/編輯 人員資料 - [就職狀態]選單移除"刪除"該選項"
**〔問題說明〕**
◆ Expect：
新增/編輯 人員資料 - [就職狀態]選單沒有"刪除"該選象

◆ Actual:
新增/編輯 人員資料 - [就職狀態]選單 有"刪除"該選象(如下圖)
![image](https://user-images.githubusercontent.com/35495325/47488675-6874e800-d877-11e8-8111-7cf92aef525c.png)

**〔測試步驟〕**
登入ec_owner-ectest
進入 人員資料
新增人員資料 / 編輯人員資料
點[就職狀態]選單
選單中有[刪除]該選項

**〔功能/所在位置〕**
人員資料 - 新增/編輯

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue

**〔進案日期〕**
2018/10/25

[2018-10-25 09:54] bcjohnblue commented on #82
10/25 fixed.

[2018-10-25 09:55] bcjohnblue commented on #88
10/25 fixed.

[2018-10-25 09:55] bcjohnblue commented on #89
10/25 fixed.

[2018-10-25 09:57] bcjohnblue commented on #91
10/25 fixed.

[2018-10-25 09:57] bcjohnblue commented on #92
10/25 fixed.

[2018-10-25 09:57] DoraKnst opened #93 "Test - 人員資料 - 檢視[詳細人員資料] - 無上傳頭項圖示"
**〔問題說明〕**
◆ Expect：
若無上傳頭項
顯示如下圖
![image](https://user-images.githubusercontent.com/35495325/47491924-77ab6400-d87e-11e8-9445-d7411c5a4cc6.png)

◆ Actual:
![image](https://user-images.githubusercontent.com/35495325/47491971-8d208e00-d87e-11e8-8d7f-c6a826352a6d.png)

**〔測試步驟〕**
登入ec_owner-ectest
進入 人員資料
檢視 "陳小明"的 詳細人員資料

**〔功能/所在位置〕**
員資料 - 檢視[詳細人員資料]

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue
已更新置白板，關鍵

[2018-10-26 01:10] bcjohnblue commented on #93
10/26 fixed.

[2018-10-26 02:02] DoraKnst opened #94 "Test - 人員資料 - 檢視人員詳細資料 - 欄位名稱 調整為粗體"
**〔問題說明〕**
◆ Adjusted：
[檢視]人員詳細資料之介面：欄位名稱 調整為粗體
提升**欄位名稱**和**內容值**的區分程度 範例： **人員姓名** 皮卡丘
人員姓名→及這裡指稱的"欄位名稱"
請參考下圖 或白板
![image](https://user-images.githubusercontent.com/35495325/47540031-ba644f00-d905-11e8-9f5a-7bb3abffb77e.png)

◆ Actual:
欄位名稱、內容值皆非粗體
![image](https://user-images.githubusercontent.com/35495325/47540097-0616f880-d906-11e8-93a6-3a71c9a3189f.png)

**〔測試步驟〕**
登入ec_owner-ectest
進入 人員資料

[2018-10-26 02:29] bcjohnblue commented on #94
10/26 fixed. 內容值已從粗體改為非粗體.

[2018-10-26 05:26] DoraKnst opened #95 "後台 - 正式機 - 公司帳戶管理 - 新增公司帳戶失敗"
**〔問題說明〕**
◆ Expect：
可以成功新增公司帳號

◆ Actual:
新增公司帳戶失敗 如下圖
![image](https://user-images.githubusercontent.com/35495325/47546125-5c923000-d922-11e8-8ed9-d93005c8ccf5.png)

**〔測試步驟〕**
用wanyuhungu登入
進入公司帳戶管理
點新增公司帳戶
輸入公司名稱、公司帳號資訊
點確定
顯示上圖錯誤提示
新增失敗

**〔功能/所在位置〕**
公司帳戶管理

**〔重要性〕**
★★★

**〔備註〕**
@KnstMing
無法100%重現，列最追蹤項目

**〔進案日期〕**
2018/10/26

[2018-10-26 06:12] DoraKnst opened #96 "Test - 人員資料 - 新增、編輯、檢視 人員資料 - 底色配色設定"
**〔問題說明〕**
◆ Expect：
和白板設置相同為 #F2F2F2

◆ Actual:
和白板設置**不同**為 #ECF0F5

**〔測試步驟〕**
登入ec_owner-ectest
進入 人員資料
檢視 人員資料 / 編輯人員資料 底色

**〔功能/所在位置〕**
人員資料

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue 請參考白板色號設定

**〔進案日期〕**
 2018/10/26

[2018-10-26 06:48] DoraKnst opened #97 "Test - 人員資料 - 身分證字號&感應卡打卡功能 - 設定方式調整"
**〔問題說明〕**
◆ Adjusted：
透過就職狀態判斷是否[啟用 | 關閉]身分證字號&感應卡打卡功能
不提供[身分證字號功能開關]設定功能 (使用者自行設定開啟或關閉)

詳細設定說明請查看白板
"人員 身分證字號打卡功能&感應卡打卡功能  - 規則說明"

![image](https://user-images.githubusercontent.com/35495325/47549004-4ccc1900-d92d-11e8-9e75-c1bac26c6a1a.png)

◆ Current:
提供身分證字號功能開關
在職、已離職、未到職、留職停薪>>皆可使用感應卡打卡

**〔功能/所在位置〕**
人員資料

**〔重要性〕**
★★★

**〔備註〕**
配合調整項目：
1. 新增單筆人員資料、編輯單筆人員資料：
若就職狀態為[在職]>>[身分證字號&感應卡打卡功能]

[2018-10-26 07:23] DoraKnst opened #98 "Test - 人員資料 - 批次匯入- 匯入規則調整 -打卡功能開關&資料重複驗證"
**〔問題說明〕**
◆ Adjusted：

**A.就職狀態：改為 "必填選項"**
**B.匯入資料**
1.就職狀態 為[在職] --> **啟用** [身分證字號&感應卡打卡功能]
2.就職狀態 為[已離職、留職停薪、未到職] --> **關閉** [身分證字號&感應卡打卡功能]

**C.資料重複驗證**
【匯入的資料】
※現有人員資料：已經建檔在物業雲上的人員資料

1. 現有人員資料的就職狀態若為：[在職、留職停薪、未到職]
-->匯入的人員資料 身份證字號、感應卡卡號**皆不可與在職狀態的人員資料重複**

2. 現有人員資料的就職狀態若為：[已離職]
-->匯入的人員資料 身份證字號、感應卡卡號**可以與在職狀態的人員資料重複**

3. 匯入的人員之**工號**不可與現有人員資料的工號重複，不論就職狀台為何

詳細設定說明請查看白板
"批次匯入-人員資料-規則說明"

[2018-10-26 07:47] bcjohnblue commented on #96
10/26 fixed.

[2018-10-26 07:49] bcjohnblue commented on #97
10/26 前端已調整.

[2018-10-29 01:25] DoraKnst commented on #96
1029 checked,fixed

[2018-10-29 01:25] #96 closed, assigned to DoraKnst

[2018-10-29 01:27] DoraKnst commented on #94
1029 checked,fixed

[2018-10-29 01:27] #94 closed, assigned to DoraKnst

[2018-10-29 01:27] DoraKnst commented on #93
1029 checked,fixed

[2018-10-29 01:27] #93 closed, assigned to DoraKnst

[2018-10-29 01:28] DoraKnst commented on #92
1029 checked,fixed

[2018-10-29 01:28] #92 closed, assigned to DoraKnst

[2018-10-29 01:28] DoraKnst commented on #91
1029 checked,fixed

[2018-10-29 01:28] #91 closed, assigned to DoraKnst

[2018-10-29 01:29] DoraKnst commented on #88
1029 checked,fixed

[2018-10-29 01:29] #88 closed, assigned to DoraKnst

[2018-10-29 01:30] DoraKnst commented on #82
1026 checked,fixed

[2018-10-29 01:30] #82 closed, assigned to DoraKnst

[2018-10-29 01:42] DoraKnst commented on #89
@bcjohnblue  10/29 測試：
中文輸入法下可已成功登記感應卡、更改感應卡，但會跳出[瀏覽器 更新密碼彈窗]
![image](https://user-images.githubusercontent.com/35495325/47625236-de6e9d00-db5e-11e8-9386-8a33ca159cee.png)

Q: 有辦法調整成不跳出[瀏覽器 更新密碼彈窗]嗎?

[2018-10-29 01:51] DoraKnst commented on #86
@bcjohnblue  2018/10/29 checked,fixed
最新公版的版本為 #98 上的連結

[2018-10-29 01:51] #86 closed, assigned to DoraKnst

[2018-10-29 01:52] DoraKnst commented on #98
@bcjohnblue  2018/10/29 ：公版版本更新：資料驗證 在職日只能輸入YYYY/MM/DD 格式

[2018-10-29 02:00] DoraKnst commented on #83
2018/10/29：bcjohnblue 已調整 [未填寫]選項 在 部門、職務 篩選單 固定為排序最後的選項

[2018-10-29 03:59] KnstMing commented on #98
10/29 批次匯入API完成調整。
調整項目：
1.檢核條件[工號]、[身份證]、[感應卡]。
2.就職狀態「在職」啟用[身分證字號&感應卡打卡功能]。

[2018-10-29 08:44] bcjohnblue commented on #89
10/29 有再調整過. 但是不確定是否可以不跳出[瀏覽器 更新密碼彈窗].  麻煩@WanYuKnst 之後再測看看.

[2018-10-29 08:58] bcjohnblue commented on #98
10/29 檔案已merge到develops/v3.0，麻煩@KnstMing 再更版.

[2018-10-30 02:22] DoraKnst commented on #90
checked, fixed

[2018-10-30 02:22] #90 closed, assigned to DoraKnst

[2018-10-30 02:23] DoraKnst commented on #83
2018/10/30 Checked, fixed

[2018-10-30 02:23] #83 closed, assigned to DoraKnst

[2018-10-30 02:30] DoraKnst commented on #89
還是會跳出耶，請協助評估是否可以調整，若無法請告知~

[2018-10-30 02:49] DoraKnst opened #99 "Test - 人員資料 - 新增單筆人員資料、檢視詳細 - 欄位與內容無垂直置中對齊"
**〔問題說明〕**
◆ Expect：
新增單筆人員資料、檢視詳細單筆人員資料
所有題目欄位與內容欄位**有**垂直置中對齊
![image](https://user-images.githubusercontent.com/35495325/47692620-573e2980-dc31-11e8-92a0-6f7967a86b94.png)

◆ Actual:
新增單筆人員資料、檢視詳細單筆人員資料
所有題目欄位與內容欄位**無**垂直置中對齊 (如下圖，檢視詳細也有相同狀況)
![image](https://user-images.githubusercontent.com/35495325/47692586-3aa1f180-dc31-11e8-8ecf-251d4ad38c36.png)

**〔測試步驟〕**
登入991122-testfield
進入人資料
檢視 水壺先

[2018-10-30 03:02] DoraKnst commented on #78
10/30 checked fixed

[2018-10-30 03:02] #78 closed, assigned to DoraKnst

[2018-10-30 04:04] DoraKnst opened #100 "Test - 人員資料 - 匯出Excel、PDF - 匯出欄位調整、匯出檔案名稱調整"
**〔問題說明〕**
◆ Adjusted：
**1.匯出項目調整**

Num | 匯出項目 |  
-- | -- | --
1 | 姓名     *必填 |  
2 | 身分證字號     *必填 |  
3 | 出生年月日     (YYYY/MM/DD)
4 | 婚姻狀態     (已婚/未婚) |  
5 | 兵役狀態     (役畢／屆退伍／待役／未役／免役) |  
6 | 學歷 |  
7 | 連絡電話     1 |  
8 | 連絡電話     2 |  
9 | 連絡電話     3 |  
10 | 通訊地址 |  
11 | LINE ID |  
12 | 電子信箱 |  
13 | 緊急聯絡人姓名1 | 姓名
14 | 緊急聯絡人姓名1 | 電話
15 | 緊急聯絡人姓名1 | 關係
16 | 緊急聯絡人姓名2 | 姓名
17 | 緊急聯絡人姓名2 | 電話

[2018-10-30 06:08] DoraKnst commented on #97
checked, fixed

[2018-10-30 06:08] #97 closed, assigned to DoraKnst

[2018-10-30 09:14] bcjohnblue commented on #89
現在chrome瀏覽器都設定輸入密碼的話一定會跳出[更新密碼彈窗]，目前找不到有效的方法禁止瀏覽器的行為.

[2018-10-30 10:41] bcjohnblue commented on #99
10/30 fixed. 麻煩 @KnstMing 更版.

[2018-10-31 02:17] DoraKnst opened #101 "Test - 人員資料 - 批次匯入 - 匯入資料錯誤 - 提示文案調整&新增必填檢驗項目"
**〔問題說明〕**
◆Adjusted：
批次匯入資料：
必填未填{姓名、身分證字號、工號、在職狀態、工作性質}
格式錯誤{身分證字號}
資料重複已被使用 {身分證字號、工號、感應卡已被使用}
顯示對應提示錯誤文案

Realtime Board 關鍵字查詢：人員資料 - 批次匯入檢查資料順序 or issue#101

◆ Actual:
1. 資料重複已被使用，未明確說明重複項目為何
2.在職狀態、工作性質非必填，資料檢核未檢核

**〔測試步驟〕**
進入人員資料
點[新增 | 批次匯入]
匯入身分證字號重複已被使用之資料
錯誤提釋文案顯示："新增失敗，不可重複"
(上述為其中一種情境)

**〔功能/所在位置〕**
人員資料 - 批次匯入

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue  @KnstMing

調整項目：
**1.必填資料未填：**
1)

[2018-10-31 04:04] KnstMing commented on #101
10/31 API調整完畢，已上測試機，請驗測

[2018-10-31 05:16] DoraKnst opened #102 "Test - 人員資料 - 匯出 - 匯出筆數設定上限400筆"
**〔問題說明〕**
◆ Expect：
匯出筆數設定上限，至多匯出400筆
若匯出筆數超過400筆，顯示錯誤提示彈窗

或點連結：https://realtimeboard.com/app/board/o9J_kzFwulU=/?moveToWidget=3074457346284639443

◆ Actual:
沒有匯出上限

**〔測試步驟〕**
進入人員資料
點匯出PDF或Excel
匯出所有篩選結果下的資料

**〔功能/所在位置〕**
人員資料 - 匯出

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue

**〔進案日期〕**
2018/10/31

[2018-10-31 05:19] DoraKnst opened #103 "Test - 人員資料 - 批次匯入 - 匯入筆數設定上限200筆"
**〔問題說明〕**
◆ Expect：
匯入筆數設定上限，至多匯200筆
若匯入筆數超過200筆，顯示錯誤提示彈窗

或點連結：https://realtimeboard.com/app/board/o9J_kzFwulU=/?moveToWidget=3074457346284639489

◆ Actual:
沒有匯入上限

**〔測試步驟〕**
進入人員資料
點[新增-批次匯入]
可以匯入筆數無限制

**〔功能/所在位置〕**
人員資料 - 新增 - 批次匯入

**〔重要性〕**
★★★

**〔備註〕**
@bcjohnblue

**〔進案日期〕**
2018/10/31

[2018-10-31 05:20] DoraKnst commented on #89
checked, fixed

[2018-10-31 05:20] #89 closed, assigned to DoraKnst

[2018-10-31 06:00] bcjohnblue commented on #101
10/31 匯入Excel模板已更新.

[2018-10-31 06:02] bcjohnblue commented on #102
10/31 前端已新增錯誤提示彈窗.

[2018-10-31 06:03] bcjohnblue commented on #103
10/31 前端已調整. 再請 @KnstMing 更版.

[2018-10-31 08:41] KnstMing commented on #103
已上測試機，請驗測

[2018-10-31 08:42] KnstMing commented on #101
已上測試機，請驗測

[2018-10-31 08:42] KnstMing commented on #99
已上測試機，請驗測

[2018-10-31 14:00] DoraKnst commented on #57
wanyuknst: checked,fixed

[2018-10-31 14:00] #57 closed, assigned to monkey6366

[2018-10-31 14:00] DoraKnst commented on #54
wanyuknst: checked,fixed

[2018-10-31 14:00] #54 closed, assigned to monkey6366

[2018-10-31 14:00] DoraKnst commented on #53
wanyuknst: checked,fixed

[2018-10-31 14:00] #53 closed, assigned to monkey6366

[2018-10-31 14:03] DoraKnst commented on #99
wanyuknst: checked,fixed

[2018-10-31 14:03] #99 closed, assigned to DoraKnst

[2018-11-01 08:20] KnstMing commented on #100
API調整完畢，已上測試機，請驗測

[2018-11-01 08:21] KnstMing commented on #102
API調整完畢，已上測試機，請驗測

[2018-11-23 09:28] yingtzuknst opened #104 "Test - 人員資料 - 批次匯入 - 資料匯入失敗"
**〔問題說明〕**
◆ Expect：
匯入資料格式正確、必填項目皆完成，可正常批次匯入

◆ Actual:
匯入資料格式正確、必填項目皆完成，顯示資料匯入失敗

**〔測試步驟〕**
進入人員資料
點[新增-批次匯入]
[批次匯入測試資料.xls](https://drive.google.com/file/d/1kK_N2Arko5fx-yRc3XChtvgmhehHRrh2/view?usp=sharing)
資料匯入失敗
[匯入失敗訊息.png](https://drive.google.com/file/d/1OO9HoP0AS6PgZ4O-g44_-Lor9durRSdX/view?usp=sharing)

**〔功能/所在位置〕**
人員資料 - 新增 - 批次匯入

**〔重要性〕**
★★★

**〔備註〕**

**〔進案日期〕**
2018/11/23

[2018-11-26 01:12] bcjohnblue commented on #104
我發現會有問題是因為 "工作性質"、"就職狀態的"部分，excel檔是用random的函式，所以才會顯示匯入失敗，我嘗試將第一筆人員的資料用下拉式選單設為 "正職"、"已離職"，將會顯示正常。

[2018-11-26 01:55] yingtzuknst commented on #104
checked, fixed

[2018-11-26 01:55] #104 closed, assigned to nobody

[2018-11-26 01:55] yingtzuknst commented on #100
checked, fixed

[2018-11-26 01:56] yingtzuknst commented on #102
checked, fixed